In [1]:
import tensorflow as tf
import numpy as np
import torch
import random
import pandas as pd
import os, sys
import time
import datetime
import torch.nn.functional as F
from torch import nn
from torch.nn import CrossEntropyLoss, MSELoss

# random.seed(42)
torch.manual_seed(42) 
if torch.cuda.is_available():
  device = torch.device("cuda")
  print('There are %d GPU(s) available.' % torch.cuda.device_count())
  print('We will use the GPU:', torch.cuda.get_device_name(0))
else:
  print('No GPU available, using the CPU instead.')
  device = torch.device("cpu")

There are 2 GPU(s) available.
We will use the GPU: Tesla V100-SXM3-32GB

########################### Load dataset ###########################

In [2]:
all_attribute = open("attrribute_names_lists/all_attributes.txt", "r") 
data = all_attribute.read()
all_attribute_list = data.split("\n")
print((all_attribute_list))
all_attribute.close()

['countrywoman', 'sororal', 'witches', 'maidservant', 'mothers', 'diva', 'actress', 'spinster', 'mama', 'duchesses', 'barwoman', 'countrywomen', 'dowry', 'hostesses', 'airwomen', 'menopause', 'clitoris', 'princess', 'governesses', 'abbess', 'women', 'widow', 'ladies', 'sorceresses', 'madam', 'brides', 'baroness', 'housewives', 'godesses', 'niece', 'widows', 'lady', 'sister', 'brides', 'nun', 'adultresses', 'obstetrics', 'bellgirls', 'her', 'marchioness', 'princesses', 'empresses', 'mare', 'chairwoman', 'convent', 'priestesses', 'girlhood', 'ladies', 'queen', 'gals', 'mommies', 'maid', 'female_ejaculation', 'spokeswoman', 'seamstress', 'cowgirls', 'chick', 'spinsters', 'hair_salon', 'empress', 'mommy', 'feminism', 'gals', 'enchantress', 'gal', 'motherhood', 'estrogen', 'camerawomen', 'godmother', 'strongwoman', 'goddess', 'matriarch', 'aunt', 'chairwomen', "ma'am", 'sisterhood', 'hostess', 'estradiol', 'wife', 'mom', 'stewardess', 'females', 'viagra', 'spokeswomen', 'ma', 'belle', 'minx', 'maiden', 'witch', 'miss', 'nieces', 'mothered', 'cow', 'belles', 'councilwomen', 'landladies', 'granddaughter', 'fiancees', 'stepmothers', 'horsewomen', 'grandmothers', 'adultress', 'schoolgirl', 'hen', 'granddaughters', 'bachelorette', 'camerawoman', 'moms', 'her', 'mistress', 'lass', 'policewoman', 'nun', 'actresses', 'saleswomen', 'girlfriend', 'councilwoman', 'lady', 'stateswoman', 'maternal', 'lass', 'landlady', 'sistren', 'ladies', 'wenches', 'sorority', 'bellgirl', 'duchess', 'ballerina', 'chicks', 'fiancee', 'fillies', 'wives', 'suitress', 'maternity', 'she', 'businesswoman', 'masseuses', 'heroine', 'doe', 'busgirls', 'girlfriends', 'queens', 'sisters', 'mistresses', 'stepmother', 'brides', 'daughter', 'minxes', 'cowgirl', 'lady', 'daughters', 'mezzo', 'saleswoman', 'mistress', 'hostess', 'nuns', 'maids', 'mrs.', 'headmistresses', 'lasses', 'congresswoman', 'airwoman', 'housewife', 'priestess', 'barwomen', 'barnoesses', 'abbesses', 'handywoman', 'toque', 'sororities', 'stewardesses', 'filly', 'czarina', 'stepdaughters', 'herself', 'girls', 'lionesses', 'lady', 'vagina', 'hers', 'masseuse', 'cows', 'aunts', 'wench', 'toques', 'wife', 'lioness', 'sorceress', 'effeminate', 'mother', 'lesbians', 'female', 'waitresses', 'ovum', 'skene_gland', 'stepdaughter', 'womb', 'businesswomen', 'heiress', 'waitress', 'headmistress', 'woman', 'governess', 'godess', 'bride', 'grandma', 'bride', 'gal', 'lesbian', 'ladies', 'girl', 'grandmother', 'mare', 'maternity', 'hens', 'uterus', 'nuns', 'maidservants', "seamstress'", 'busgirl', 'heroines', 'countryman', 'fraternal', 'wizards', 'manservant', 'fathers', 'divo', 'actor', 'bachelor', 'papa', 'dukes', 'barman', 'countrymen', 'brideprice', 'hosts', 'airmen', 'andropause', 'penis', 'prince', 'governors', 'abbot', 'men', 'widower', 'gentlemen', 'sorcerers', 'sir', 'bridegrooms', 'baron', 'househusbands', 'gods', 'nephew', 'widowers', 'lord', 'brother', 'grooms', 'priest', 'adultors', 'andrology', 'bellboys', 'his', 'marquis', 'princes', 'emperors', 'stallion', 'chairman', 'monastery', 'priests', 'boyhood', 'fellas', 'king', 'dudes', 'daddies', 'manservant', 'semen', 'spokesman', 'tailor', 'cowboys', 'dude', 'bachelors', 'barbershop', 'emperor', 'daddy', 'masculism', 'guys', 'enchanter', 'guy', 'fatherhood', 'androgen', 'cameramen', 'godfather', 'strongman', 'god', 'patriarch', 'uncle', 'chairmen', 'sir', 'brotherhood', 'host', 'testosterone', 'husband', 'dad', 'steward', 'males', 'cialis', 'spokesmen', 'pa', 'beau', 'stud', 'bachelor', 'wizard', 'sir', 'nephews', 'fathered', 'bull', 'beaus', 'councilmen', 'landlords', 'grandson', 'fiances', 'stepfathers', 'horsemen', 'grandfathers', 'adultor', 'schoolboy', 'rooster', 'grandsons', 'bachelor', 'cameraman', 'dads', 'him', 'master', 'lad', 'policeman', 'monk', 'actors', 'salesmen', 'boyfriend', 'councilman', 'fella', 'statesman', 'paternal', 'chap', 'landlord', 'brethren', 'lords', 'blokes', 'fraternity', 'bellboy', 'duke', 'ballet_dancer', 'dudes', 'fiance', 'colts', 'husbands', 'suitor', 'paternity', 'he', 'businessman', 'masseurs', 'hero', 'deer', 'busboys', 'boyfriends', 'kings', 'brothers', 'masters', 'stepfather', 'grooms', 'son', 'studs', 'cowboy', 'mentleman', 'sons', 'baritone', 'salesman', 'paramour', 'male_host', 'monks', 'menservants', 'mr.', 'headmasters', 'lads', 'congressman', 'airman', 'househusband', 'priest', 'barmen', 'barons', 'abbots', 'handyman', 'beard', 'fraternities', 'stewards', 'colt', 'czar', 'stepsons', 'himself', 'boys', 'lions', 'gentleman', 'penis', 'his', 'masseur', 'bulls', 'uncles', 'bloke', 'beards', 'hubby', 'lion', 'sorcerer', 'macho', 'father', 'gays', 'male', 'waiters', 'sperm', 'prostate', 'stepson', 'prostatic_utricle', 'businessmen', 'heir', 'waiter', 'headmaster', 'man', 'governor', 'god', 'bridegroom', 'grandpa', 'groom', 'dude', 'gay', 'gents', 'boy', 'grandfather', 'gelding', 'paternity', 'roosters', 'prostatic_utricle', 'priests', 'manservants', 'stailor', 'busboy', 'heros', '']

In [3]:
# female_names_list
all_attribute = open("attrribute_names_lists/female_names.txt", "r") 
data = all_attribute.read()
female_names_list = data.split("\n")
print((female_names_list))
all_attribute.close()

['Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbi', 'Abbie', 'Abby', 'Abigael', 'Abigail', 'Abigale', 'Abra', 'Acacia', 'Ada', 'Adah', 'Adaline', 'Adara', 'Addie', 'Addis', 'Adel', 'Adela', 'Adelaide', 'Adele', 'Adelice', 'Adelina', 'Adelind', 'Adeline', 'Adella', 'Adelle', 'Adena', 'Adey', 'Adi', 'Adiana', 'Adina', 'Adora', 'Adore', 'Adoree', 'Adorne', 'Adrea', 'Adria', 'Adriaens', 'Adrian', 'Adriana', 'Adriane', 'Adrianna', 'Adrianne', 'Adrien', 'Adriena', 'Adrienne', 'Aeriel', 'Aeriela', 'Aeriell', 'Ag', 'Agace', 'Agata', 'Agatha', 'Agathe', 'Aggi', 'Aggie', 'Aggy', 'Agna', 'Agnella', 'Agnes', 'Agnese', 'Agnesse', 'Agneta', 'Agnola', 'Agretha', 'Aida', 'Aidan', 'Aigneis', 'Aila', 'Aile', 'Ailee', 'Aileen', 'Ailene', 'Ailey', 'Aili', 'Ailina', 'Ailyn', 'Aime', 'Aimee', 'Aimil', 'Aina', 'Aindrea', 'Ainslee', 'Ainsley', 'Ainslie', 'Ajay', 'Alaine', 'Alameda', 'Alana', 'Alanah', 'Alane', 'Alanna', 'Alayne', 'Alberta', 'Albertina', 'Albertine', 'Albina', 'Alecia', 'Aleda', 'Aleece', 'Aleecia', 'Aleen', 'Alejandra', 'Alejandrina', 'Alena', 'Alene', 'Alessandra', 'Aleta', 'Alethea', 'Alex', 'Alexa', 'Alexandra', 'Alexandrina', 'Alexi', 'Alexia', 'Alexina', 'Alexine', 'Alexis', 'Alfie', 'Alfreda', 'Ali', 'Alia', 'Alica', 'Alice', 'Alicea', 'Alicia', 'Alida', 'Alidia', 'Alina', 'Aline', 'Alis', 'Alisa', 'Alisha', 'Alison', 'Alissa', 'Alisun', 'Alix', 'Aliza', 'Alla', 'Alleen', 'Allegra', 'Allene', 'Alli', 'Allianora', 'Allie', 'Allina', 'Allis', 'Allison', 'Allissa', 'Allsun', 'Ally', 'Allyce', 'Allyn', 'Allys', 'Allyson', 'Alma', 'Almeda', 'Almeria', 'Almeta', 'Almira', 'Almire', 'Aloise', 'Aloisia', 'Aloysia', 'Alpa', 'Alta', 'Althea', 'Alvera', 'Alvina', 'Alvinia', 'Alvira', 'Alyce', 'Alyda', 'Alys', 'Alysa', 'Alyse', 'Alysia', 'Alyson', 'Alyss', 'Alyssa', 'Amabel', 'Amabelle', 'Amalea', 'Amalee', 'Amaleta', 'Amalia', 'Amalie', 'Amalita', 'Amalle', 'Amanda', 'Amandi', 'Amandie', 'Amandy', 'Amara', 'Amargo', 'Amata', 'Amber', 'Amberly', 'Ambrosia', 'Ambur', 'Ame', 'Amelia', 'Amelie', 'Amelina', 'Ameline', 'Amelita', 'Ami', 'Amie', 'Amity', 'Ammamaria', 'Amy', 'Ana', 'Anabel', 'Anabella', 'Anabelle', 'Anais', 'Analiese', 'Analise', 'Anallese', 'Anallise', 'Anastasia', 'Anastasie', 'Anastassia', 'Anatola', 'Andee', 'Andi', 'Andie', 'Andra', 'Andrea', 'Andreana', 'Andree', 'Andrei', 'Andria', 'Andriana', 'Andriette', 'Andromache', 'Andromeda', 'Andy', 'Anestassia', 'Anet', 'Anett', 'Anetta', 'Anette', 'Ange', 'Angel', 'Angela', 'Angele', 'Angelia', 'Angelica', 'Angelika', 'Angelina', 'Angeline', 'Angelique', 'Angelita', 'Angelle', 'Angie', 'Angil', 'Angy', 'Ania', 'Anica', 'Anissa', 'Anita', 'Anitra', 'Anja', 'Anjanette', 'Anjela', 'Ann', 'Ann-Mari', 'Ann-Marie', 'Anna', 'Anna-Diana', 'Anna-Diane', 'Anna-Maria', 'Annabal', 'Annabel', 'Annabela', 'Annabell', 'Annabella', 'Annabelle', 'Annadiana', 'Annadiane', 'Annalee', 'Annalena', 'Annaliese', 'Annalisa', 'Annalise', 'Annalyse', 'Annamari', 'Annamaria', 'Annamarie', 'Anne', 'Anne-Corinne', 'Anne-Mar', 'Anne-Marie', 'Annecorinne', 'Anneliese', 'Annelise', 'Annemarie', 'Annetta', 'Annette', 'Anni', 'Annice', 'Annie', 'Annissa', 'Annmaria', 'Annmarie', 'Annnora', 'Annora', 'Anny', 'Anselma', 'Ansley', 'Anstice', 'Anthe', 'Anthea', 'Anthia', 'Antoinette', 'Antonella', 'Antonetta', 'Antonia', 'Antonie', 'Antonietta', 'Antonina', 'Anya', 'Aphrodite', 'Appolonia', 'April', 'Aprilette', 'Ara', 'Arabel', 'Arabela', 'Arabele', 'Arabella', 'Arabelle', 'Arda', 'Ardath', 'Ardeen', 'Ardelia', 'Ardelis', 'Ardella', 'Ardelle', 'Arden', 'Ardene', 'Ardenia', 'Ardine', 'Ardis', 'Ardith', 'Ardra', 'Ardyce', 'Ardys', 'Ardyth', 'Aretha', 'Ariadne', 'Ariana', 'Arianne', 'Aridatha', 'Ariel', 'Ariela', 'Ariella', 'Arielle', 'Arlana', 'Arlee', 'Arleen', 'Arlen', 'Arlena', 'Arlene', 'Arleta', 'Arlette', 'Arleyne', 'Arlie', 'Arliene', 'Arlina', 'Arlinda', 'Arline', 'Arly', 'Arlyn', 'Arlyne', 'Aryn', 'Ashely', 'Ashlee', 'Ashleigh', 'Ashlen', 'Ashley', 'Ashli', 'Ashlie', 'Ashly', 'Asia', 'Astra', 'Astrid', 'Astrix', 'Atalanta', 'Athena', 'Athene', 'Atlanta', 'Atlante', 'Auberta', 'Aubine', 'Aubree', 'Aubrette', 'Aubrey', 'Aubrie', 'Aubry', 'Audi', 'Audie', 'Audra', 'Audre', 'Audrey', 'Audrie', 'Audry', 'Audrye', 'Audy', 'Augusta', 'Auguste', 'Augustina', 'Augustine', 'Aura', 'Aurea', 'Aurel', 'Aurelea', 'Aurelia', 'Aurelie', 'Auria', 'Aurie', 'Aurilia', 'Aurlie', 'Auroora', 'Aurora', 'Aurore', 'Austin', 'Austina', 'Austine', 'Ava', 'Aveline', 'Averil', 'Averyl', 'Avie', 'Avis', 'Aviva', 'Avivah', 'Avril', 'Avrit', 'Ayn', 'Bab', 'Babara', 'Babette', 'Babita', 'Babs', 'Bambi', 'Bambie', 'Bamby', 'Barb', 'Barbabra', 'Barbara', 'Barbara-Anne', 'Barbaraanne', 'Barbe', 'Barbee', 'Barbette', 'Barbey', 'Barbi', 'Barbie', 'Barbra', 'Barby', 'Bari', 'Barrie', 'Barry', 'Basia', 'Bathsheba', 'Batsheva', 'Bea', 'Beatrice', 'Beatrisa', 'Beatrix', 'Beatriz', 'Beau', 'Bebe', 'Becca', 'Becka', 'Becki', 'Beckie', 'Becky', 'Bee', 'Beilul', 'Beitris', 'Bekki', 'Bel', 'Belia', 'Belicia', 'Belinda', 'Belita', 'Bell', 'Bella', 'Bellamy', 'Bellanca', 'Belle', 'Bellina', 'Belva', 'Belvia', 'Bendite', 'Benedetta', 'Benedicta', 'Benedikta', 'Benetta', 'Benita', 'Benni', 'Bennie', 'Benny', 'Benoite', 'Berenice', 'Beret', 'Berget', 'Berna', 'Bernadene', 'Bernadette', 'Bernadina', 'Bernadine', 'Bernardina', 'Bernardine', 'Bernelle', 'Bernete', 'Bernetta', 'Bernette', 'Berni', 'Bernice', 'Bernie', 'Bernita', 'Berny', 'Berri', 'Berrie', 'Berry', 'Bert', 'Berta', 'Berte', 'Bertha', 'Berthe', 'Berti', 'Bertie', 'Bertina', 'Bertine', 'Berty', 'Beryl', 'Beryle', 'Bess', 'Bessie', 'Bessy', 'Beth', 'Bethanne', 'Bethany', 'Bethena', 'Bethina', 'Betsey', 'Betsy', 'Betta', 'Bette', 'Bette-Ann', 'Betteann', 'Betteanne', 'Betti', 'Bettie', 'Bettina', 'Bettine', 'Betty', 'Bettye', 'Beulah', 'Bev', 'Beverie', 'Beverlee', 'Beverlie', 'Beverly', 'Bevvy', 'Bianca', 'Bianka', 'Biddy', 'Bidget', 'Bill', 'Billi', 'Billie', 'Billy', 'Binni', 'Binnie', 'Binny', 'Bird', 'Birdie', 'Birgit', 'Birgitta', 'Blair', 'Blaire', 'Blake', 'Blakelee', 'Blakeley', 'Blanca', 'Blanch', 'Blancha', 'Blanche', 'Blinni', 'Blinnie', 'Blinny', 'Bliss', 'Blisse', 'Blithe', 'Blondell', 'Blondelle', 'Blondie', 'Blondy', 'Blythe', 'Bo', 'Bobbette', 'Bobbi', 'Bobbie', 'Bobby', 'Bobette', 'Bobina', 'Bobine', 'Bobinette', 'Bonita', 'Bonnee', 'Bonni', 'Bonnie', 'Bonny', 'Brana', 'Brandais', 'Brande', 'Brandea', 'Brandi', 'Brandice', 'Brandie', 'Brandise', 'Brandy', 'Brea', 'Breanne', 'Brear', 'Bree', 'Breena', 'Bren', 'Brena', 'Brenda', 'Brenn', 'Brenna', 'Brett', 'Bria', 'Briana', 'Brianna', 'Brianne', 'Bride', 'Bridget', 'Bridgett', 'Bridgette', 'Bridie', 'Brier', 'Brietta', 'Brigid', 'Brigida', 'Brigit', 'Brigitta', 'Brigitte', 'Brina', 'Briney', 'Briny', 'Brit', 'Brita', 'Britaney', 'Britani', 'Briteny', 'Britney', 'Britni', 'Britt', 'Britta', 'Brittan', 'Brittany', 'Britte', 'Brittney', 'Brook', 'Brooke', 'Brooks', 'Brunella', 'Brunhilda', 'Brunhilde', 'Bryana', 'Bryn', 'Bryna', 'Brynn', 'Brynna', 'Brynne', 'Buffy', 'Bunni', 'Bunnie', 'Bunny', 'Burta', 'Cabrina', 'Cacilia', 'Cacilie', 'Caitlin', 'Caitrin', 'Cal', 'Calida', 'Calla', 'Calley', 'Calli', 'Callida', 'Callie', 'Cally', 'Calypso', 'Cam', 'Camala', 'Camel', 'Camella', 'Camellia', 'Cameo', 'Cami', 'Camila', 'Camile', 'Camilla', 'Camille', 'Cammi', 'Cammie', 'Cammy', 'Canada', 'Candace', 'Candi', 'Candice', 'Candida', 'Candide', 'Candie', 'Candis', 'Candra', 'Candy', 'Cappella', 'Caprice', 'Cara', 'Caralie', 'Caren', 'Carena', 'Caresa', 'Caressa', 'Caresse', 'Carey', 'Cari', 'Caria', 'Carie', 'Caril', 'Carilyn', 'Carin', 'Carina', 'Carine', 'Cariotta', 'Carissa', 'Carita', 'Caritta', 'Carla', 'Carlee', 'Carleen', 'Carlen', 'Carlena', 'Carlene', 'Carley', 'Carli', 'Carlie', 'Carlin', 'Carlina', 'Carline', 'Carlisle', 'Carlita', 'Carlota', 'Carlotta', 'Carly', 'Carlye', 'Carlyn', 'Carlynn', 'Carlynne', 'Carma', 'Carmel', 'Carmela', 'Carmelia', 'Carmelina', 'Carmelita', 'Carmella', 'Carmelle', 'Carmen', 'Carmina', 'Carmine', 'Carmita', 'Carmon', 'Caro', 'Carol', 'Carol-Jean', 'Carola', 'Carolan', 'Carolann', 'Carole', 'Carolee', 'Caroleen', 'Carolie', 'Carolin', 'Carolina', 'Caroline', 'Caroljean', 'Carolyn', 'Carolyne', 'Carolynn', 'Caron', 'Carree', 'Carri', 'Carrie', 'Carrissa', 'Carrol', 'Carroll', 'Carry', 'Cary', 'Caryl', 'Caryn', 'Casandra', 'Casey', 'Casi', 'Casia', 'Casie', 'Cass', 'Cassandra', 'Cassandre', 'Cassandry', 'Cassaundra', 'Cassey', 'Cassi', 'Cassie', 'Cassondra', 'Cassy', 'Cat', 'Catarina', 'Cate', 'Caterina', 'Catha', 'Catharina', 'Catharine', 'Cathe', 'Cathee', 'Catherin', 'Catherina', 'Catherine', 'Cathi', 'Cathie', 'Cathleen', 'Cathlene', 'Cathrin', 'Cathrine', 'Cathryn', 'Cathy', 'Cathyleen', 'Cati', 'Catie', 'Catina', 'Catlaina', 'Catlee', 'Catlin', 'Catrina', 'Catriona', 'Caty', 'Cayla', 'Cecelia', 'Cecil', 'Cecile', 'Ceciley', 'Cecilia', 'Cecilla', 'Cecily', 'Ceil', 'Cele', 'Celene', 'Celesta', 'Celeste', 'Celestia', 'Celestina', 'Celestine', 'Celestyn', 'Celestyna', 'Celia', 'Celie', 'Celina', 'Celinda', 'Celine', 'Celinka', 'Celisse', 'Celle', 'Cesya', 'Chad', 'Chanda', 'Chandal', 'Chandra', 'Channa', 'Chantal', 'Chantalle', 'Charil', 'Charin', 'Charis', 'Charissa', 'Charisse', 'Charita', 'Charity', 'Charla', 'Charlean', 'Charleen', 'Charlena', 'Charlene', 'Charline', 'Charlot', 'Charlott', 'Charlotta', 'Charlotte', 'Charmain', 'Charmaine', 'Charmane', 'Charmian', 'Charmine', 'Charmion', 'Charo', 'Charyl', 'Chastity', 'Chelsae', 'Chelsea', 'Chelsey', 'Chelsie', 'Chelsy', 'Cher', 'Chere', 'Cherey', 'Cheri', 'Cherianne', 'Cherice', 'Cherida', 'Cherie', 'Cherilyn', 'Cherilynn', 'Cherin', 'Cherise', 'Cherish', 'Cherlyn', 'Cherri', 'Cherrita', 'Cherry', 'Chery', 'Cherye', 'Cheryl', 'Cheslie', 'Chiarra', 'Chickie', 'Chicky', 'Chiquita', 'Chloe', 'Chloette', 'Chloris', 'Chris', 'Chriss', 'Chrissa', 'Chrissie', 'Chrissy', 'Christa', 'Christabel', 'Christabella', 'Christabelle', 'Christal', 'Christalle', 'Christan', 'Christean', 'Christel', 'Christen', 'Christi', 'Christian', 'Christiana', 'Christiane', 'Christie', 'Christin', 'Christina', 'Christine', 'Christy', 'Christyna', 'Chrysa', 'Chrysler', 'Chrystal', 'Chryste', 'Chrystel', 'Ciara', 'Cicely', 'Cicily', 'Ciel', 'Cilka', 'Cinda', 'Cindee', 'Cindelyn', 'Cinderella', 'Cindi', 'Cindie', 'Cindra', 'Cindy', 'Cinnamon', 'Cissie', 'Cissy', 'Clair', 'Claire', 'Clara', 'Clarabelle', 'Clare', 'Claresta', 'Clareta', 'Claretta', 'Clarette', 'Clarey', 'Clari', 'Claribel', 'Clarice', 'Clarie', 'Clarinda', 'Clarine', 'Clarisa', 'Clarissa', 'Clarisse', 'Clarita', 'Clary', 'Claude', 'Claudelle', 'Claudetta', 'Claudette', 'Claudia', 'Claudie', 'Claudina', 'Claudine', 'Clea', 'Clem', 'Clemence', 'Clementia', 'Clementina', 'Clementine', 'Clemmie', 'Clemmy', 'Cleo', 'Cleopatra', 'Clerissa', 'Cleva', 'Clio', 'Clo', 'Cloe', 'Cloris', 'Clotilda', 'Clovis', 'Codee', 'Codi', 'Codie', 'Cody', 'Coleen', 'Colene', 'Coletta', 'Colette', 'Colleen', 'Collete', 'Collette', 'Collie', 'Colline', 'Colly', 'Con', 'Concettina', 'Conchita', 'Concordia', 'Conney', 'Conni', 'Connie', 'Conny', 'Consolata', 'Constance', 'Constancia', 'Constancy', 'Constanta', 'Constantia', 'Constantina', 'Constantine', 'Consuela', 'Consuelo', 'Cookie', 'Cora', 'Corabel', 'Corabella', 'Corabelle', 'Coral', 'Coralie', 'Coraline', 'Coralyn', 'Cordelia', 'Cordelie', 'Cordey', 'Cordie', 'Cordula', 'Cordy', 'Coreen', 'Corella', 'Corena', 'Corenda', 'Corene', 'Coretta', 'Corette', 'Corey', 'Cori', 'Corie', 'Corilla', 'Corina', 'Corine', 'Corinna', 'Corinne', 'Coriss', 'Corissa', 'Corliss', 'Corly', 'Cornela', 'Cornelia', 'Cornelle', 'Cornie', 'Corny', 'Correna', 'Correy', 'Corri', 'Corrianne', 'Corrie', 'Corrina', 'Corrine', 'Corrinne', 'Corry', 'Cortney', 'Cory', 'Cosetta', 'Cosette', 'Courtenay', 'Courtney', 'Cresa', 'Cris', 'Crissie', 'Crissy', 'Crista', 'Cristabel', 'Cristal', 'Cristen', 'Cristi', 'Cristie', 'Cristin', 'Cristina', 'Cristine', 'Cristionna', 'Cristy', 'Crysta', 'Crystal', 'Crystie', 'Cyb', 'Cybal', 'Cybel', 'Cybelle', 'Cybil', 'Cybill', 'Cyndi', 'Cyndy', 'Cynthea', 'Cynthia', 'Cynthie', 'Cynthy', 'Dacey', 'Dacia', 'Dacie', 'Dacy', 'Dael', 'Daffi', 'Daffie', 'Daffy', 'Dafna', 'Dagmar', 'Dahlia', 'Daile', 'Daisey', 'Daisi', 'Daisie', 'Daisy', 'Dale', 'Dalenna', 'Dalia', 'Dalila', 'Dallas', 'Daloris', 'Damara', 'Damaris', 'Damita', 'Dana', 'Danell', 'Danella', 'Danelle', 'Danette', 'Dani', 'Dania', 'Danica', 'Danice', 'Daniel', 'Daniela', 'Daniele', 'Daniella', 'Danielle', 'Danika', 'Danila', 'Danit', 'Danita', 'Danna', 'Danni', 'Dannie', 'Danny', 'Dannye', 'Danya', 'Danyelle', 'Danyette', 'Daphene', 'Daphna', 'Daphne', 'Dara', 'Darb', 'Darbie', 'Darby', 'Darcee', 'Darcey', 'Darci', 'Darcie', 'Darcy', 'Darda', 'Dareen', 'Darell', 'Darelle', 'Dari', 'Daria', 'Darice', 'Darla', 'Darleen', 'Darlene', 'Darline', 'Darryl', 'Darsey', 'Darsie', 'Darya', 'Daryl', 'Daryn', 'Dasha', 'Dasi', 'Dasie', 'Dasya', 'Datha', 'Daune', 'Daveen', 'Daveta', 'Davida', 'Davina', 'Davine', 'Davita', 'Dawn', 'Dawna', 'Dayle', 'Dayna', 'Dea', 'Deana', 'Deane', 'Deanna', 'Deanne', 'Deb', 'Debbi', 'Debbie', 'Debbra', 'Debby', 'Debee', 'Debera', 'Debi', 'Debor', 'Debora', 'Deborah', 'Debra', 'Dede', 'Dedie', 'Dedra', 'Dee', 'Dee Dee', 'Deeann', 'Deeanne', 'Deedee', 'Deena', 'Deerdre', 'Dehlia', 'Deidre', 'Deina', 'Deirdre', 'Del', 'Dela', 'Delaney', 'Delcina', 'Delcine', 'Delia', 'Delila', 'Delilah', 'Delinda', 'Dell', 'Della', 'Delly', 'Delora', 'Delores', 'Deloria', 'Deloris', 'Delphina', 'Delphine', 'Delphinia', 'Demeter', 'Demetra', 'Demetria', 'Demetris', 'Dena', 'Deni', 'Denice', 'Denise', 'Denna', 'Denni', 'Dennie', 'Denny', 'Deny', 'Denys', 'Denyse', 'Deonne', 'Desaree', 'Desdemona', 'Desirae', 'Desiree', 'Desiri', 'Deva', 'Devan', 'Devi', 'Devin', 'Devina', 'Devinne', 'Devon', 'Devondra', 'Devonna', 'Devonne', 'Devora', 'Dew', 'Di', 'Diahann', 'Diamond', 'Dian', 'Diana', 'Diandra', 'Diane', 'Diane-Marie', 'Dianemarie', 'Diann', 'Dianna', 'Dianne', 'Diannne', 'Didi', 'Dido', 'Diena', 'Dierdre', 'Dina', 'Dinah', 'Dinnie', 'Dinny', 'Dion', 'Dione', 'Dionis', 'Dionne', 'Dita', 'Dix', 'Dixie', 'Dode', 'Dodi', 'Dodie', 'Dody', 'Doe', 'Doll', 'Dolley', 'Dolli', 'Dollie', 'Dolly', 'Dolora', 'Dolores', 'Dolorita', 'Doloritas', 'Dominica', 'Dominique', 'Dona', 'Donella', 'Donelle', 'Donetta', 'Donia', 'Donica', 'Donielle', 'Donna', 'Donnajean', 'Donnamarie', 'Donni', 'Donnie', 'Donny', 'Dora', 'Doralia', 'Doralin', 'Doralyn', 'Doralynn', 'Doralynne', 'Dorcas', 'Dore', 'Doreen', 'Dorelia', 'Dorella', 'Dorelle', 'Dorena', 'Dorene', 'Doretta', 'Dorette', 'Dorey', 'Dori', 'Doria', 'Dorian', 'Dorice', 'Dorie', 'Dorine', 'Doris', 'Dorisa', 'Dorise', 'Dorit', 'Dorita', 'Doro', 'Dorolice', 'Dorolisa', 'Dorotea', 'Doroteya', 'Dorothea', 'Dorothee', 'Dorothy', 'Dorree', 'Dorri', 'Dorrie', 'Dorris', 'Dorry', 'Dorthea', 'Dorthy', 'Dory', 'Dosi', 'Dot', 'Doti', 'Dotti', 'Dottie', 'Dotty', 'Dove', 'Drea', 'Drew', 'Dulce', 'Dulcea', 'Dulci', 'Dulcia', 'Dulciana', 'Dulcie', 'Dulcine', 'Dulcinea', 'Dulcy', 'Dulsea', 'Dusty', 'Dyan', 'Dyana', 'Dyane', 'Dyann', 'Dyanna', 'Dyanne', 'Dyna', 'Dynah', "E'Lane", 'Eada', 'Eadie', 'Eadith', 'Ealasaid', 'Eartha', 'Easter', 'Eba', 'Ebba', 'Ebonee', 'Ebony', 'Eda', 'Eddi', 'Eddie', 'Eddy', 'Ede', 'Edee', 'Edeline', 'Eden', 'Edi', 'Edie', 'Edin', 'Edita', 'Edith', 'Editha', 'Edithe', 'Ediva', 'Edna', 'Edwina', 'Edy', 'Edyth', 'Edythe', 'Effie', 'Eileen', 'Eilis', 'Eimile', 'Eirena', 'Ekaterina', 'Elaina', 'Elaine', 'Elana', 'Elane', 'Elayne', 'Elberta', 'Elbertina', 'Elbertine', 'Eleanor', 'Eleanora', 'Eleanore', 'Electra', 'Elena', 'Elene', 'Eleni', 'Elenore', 'Eleonora', 'Eleonore', 'Elfie', 'Elfreda', 'Elfrida', 'Elfrieda', 'Elga', 'Elianora', 'Elianore', 'Elicia', 'Elie', 'Elinor', 'Elinore', 'Elisa', 'Elisabet', 'Elisabeth', 'Elisabetta', 'Elise', 'Elisha', 'Elissa', 'Elita', 'Eliza', 'Elizabet', 'Elizabeth', 'Elka', 'Elke', 'Ella', 'Elladine', 'Elle', 'Ellen', 'Ellene', 'Ellette', 'Elli', 'Ellie', 'Ellissa', 'Elly', 'Ellyn', 'Ellynn', 'Elmira', 'Elna', 'Elnora', 'Elnore', 'Eloisa', 'Eloise', 'Elonore', 'Elora', 'Elsa', 'Elsbeth', 'Else', 'Elsey', 'Elsi', 'Elsie', 'Elsinore', 'Elspeth', 'Elsy', 'Elva', 'Elvera', 'Elvina', 'Elvira', 'Elwina', 'Elwira', 'Elyn', 'Elyse', 'Elysee', 'Elysha', 'Elysia', 'Elyssa', 'Em', 'Ema', 'Emalee', 'Emalia', 'Emanuela', 'Emelda', 'Emelia', 'Emelina', 'Emeline', 'Emelita', 'Emelyne', 'Emera', 'Emilee', 'Emili', 'Emilia', 'Emilie', 'Emiline', 'Emily', 'Emlyn', 'Emlynn', 'Emlynne', 'Emma', 'Emmalee', 'Emmaline', 'Emmalyn', 'Emmalynn', 'Emmalynne', 'Emmeline', 'Emmey', 'Emmi', 'Emmie', 'Emmy', 'Emmye', 'Emogene', 'Emyle', 'Emylee', 'Endora', 'Engracia', 'Enid', 'Enrica', 'Enrichetta', 'Enrika', 'Enriqueta', 'Enya', 'Eolanda', 'Eolande', 'Eran', 'Erda', 'Erena', 'Erica', 'Ericha', 'Ericka', 'Erika', 'Erin', 'Erina', 'Erinn', 'Erinna', 'Erma', 'Ermengarde', 'Ermentrude', 'Ermina', 'Erminia', 'Erminie', 'Erna', 'Ernaline', 'Ernesta', 'Ernestine', 'Ertha', 'Eryn', 'Esma', 'Esmaria', 'Esme', 'Esmeralda', 'Esmerelda', 'Essa', 'Essie', 'Essy', 'Esta', 'Estel', 'Estele', 'Estell', 'Estella', 'Estelle', 'Ester', 'Esther', 'Estrella', 'Estrellita', 'Ethel', 'Ethelda', 'Ethelin', 'Ethelind', 'Etheline', 'Ethelyn', 'Ethyl', 'Etta', 'Etti', 'Ettie', 'Etty', 'Eudora', 'Eugenia', 'Eugenie', 'Eugine', 'Eula', 'Eulalie', 'Eunice', 'Euphemia', 'Eustacia', 'Eva', 'Evaleen', 'Evangelia', 'Evangelin', 'Evangelina', 'Evangeline', 'Evania', 'Evanne', 'Eve', 'Eveleen', 'Evelina', 'Eveline', 'Evelyn', 'Evette', 'Evey', 'Evie', 'Evita', 'Evonne', 'Evvie', 'Evvy', 'Evy', 'Eyde', 'Eydie', 'Fabrianne', 'Fabrice', 'Fae', 'Faina', 'Faith', 'Fallon', 'Fan', 'Fanchette', 'Fanchon', 'Fancie', 'Fancy', 'Fanechka', 'Fania', 'Fanni', 'Fannie', 'Fanny', 'Fanya', 'Fara', 'Farah', 'Farand', 'Farica', 'Farra', 'Farrah', 'Farrand', 'Fatima', 'Faun', 'Faunie', 'Faustina', 'Faustine', 'Fawn', 'Fawna', 'Fawne', 'Fawnia', 'Fay', 'Faydra', 'Faye', 'Fayette', 'Fayina', 'Fayre', 'Fayth', 'Faythe', 'Federica', 'Fedora', 'Felecia', 'Felicdad', 'Felice', 'Felicia', 'Felicity', 'Felicle', 'Felipa', 'Felisha', 'Felita', 'Feliza', 'Fenelia', 'Feodora', 'Ferdinanda', 'Ferdinande', 'Fern', 'Fernanda', 'Fernande', 'Fernandina', 'Ferne', 'Fey', 'Fiann', 'Fianna', 'Fidela', 'Fidelia', 'Fidelity', 'Fifi', 'Fifine', 'Filia', 'Filide', 'Filippa', 'Fina', 'Fiona', 'Fionna', 'Fionnula', 'Fiorenze', 'Fleur', 'Fleurette', 'Flo', 'Flor', 'Flora', 'Florance', 'Flore', 'Florella', 'Florence', 'Florencia', 'Florentia', 'Florenza', 'Florette', 'Flori', 'Floria', 'Florice', 'Florida', 'Florie', 'Florina', 'Florinda', 'Floris', 'Florri', 'Florrie', 'Florry', 'Flory', 'Flossi', 'Flossie', 'Flossy', 'Flower', 'Fortuna', 'Fortune', 'Fran', 'France', 'Francene', 'Frances', 'Francesca', 'Francesmary', 'Francine', 'Francis', 'Francisca', 'Franciska', 'Francoise', 'Francyne', 'Frank', 'Frankie', 'Franky', 'Franni', 'Frannie', 'Franny', 'Frayda', 'Fred', 'Freda', 'Freddi', 'Freddie', 'Freddy', 'Fredelia', 'Frederica', 'Fredericka', 'Fredi', 'Fredia', 'Fredra', 'Fredrika', 'Freida', 'Frieda', 'Friederike', 'Fulvia', 'Gabbey', 'Gabbi', 'Gabbie', 'Gabey', 'Gabi', 'Gabie', 'Gabriel', 'Gabriela', 'Gabriell', 'Gabriella', 'Gabrielle', 'Gabriellia', 'Gabrila', 'Gaby', 'Gae', 'Gael', 'Gail', 'Gale', 'Gale ', 'Galina', 'Garland', 'Garnet', 'Garnette', 'Gates', 'Gavra', 'Gavrielle', 'Gay', 'Gayla', 'Gayle', 'Gayleen', 'Gaylene', 'Gaynor', 'Gelya', 'Gen', 'Gena', 'Gene', 'Geneva', 'Genevieve', 'Genevra', 'Genia', 'Genna', 'Genni', 'Gennie', 'Gennifer', 'Genny', 'Genovera', 'Genvieve', 'George', 'Georgeanna', 'Georgeanne', 'Georgena', 'Georgeta', 'Georgetta', 'Georgette', 'Georgia', 'Georgiamay', 'Georgiana', 'Georgianna', 'Georgianne', 'Georgie', 'Georgina', 'Georgine', 'Gera', 'Geralda', 'Geraldina', 'Geraldine', 'Gerda', 'Gerhardine', 'Geri', 'Gerianna', 'Gerianne', 'Gerladina', 'Germain', 'Germaine', 'Germana', 'Gerri', 'Gerrie', 'Gerrilee', 'Gerry', 'Gert', 'Gerta', 'Gerti', 'Gertie', 'Gertrud', 'Gertruda', 'Gertrude', 'Gertrudis', 'Gerty', 'Giacinta', 'Giana', 

In [4]:
# male_names_list
all_attribute = open("attrribute_names_lists/male_names.txt", "r") 
data = all_attribute.read()
male_names_list = data.split("\n")
print((male_names_list))
all_attribute.close()

['Aamir', 'Aaron', 'Abbey', 'Abbie', 'Abbot', 'Abbott', 'Abby', 'Abdel', 'Abdul', 'Abdulkarim', 'Abdullah', 'Abe', 'Abel', 'Abelard', 'Abner', 'Abraham', 'Abram', 'Ace', 'Adair', 'Adam', 'Adams', 'Addie', 'Adger', 'Aditya', 'Adlai', 'Adnan', 'Adolf', 'Adolfo', 'Adolph', 'Adolphe', 'Adolpho', 'Adolphus', 'Adrian', 'Adrick', 'Adrien', 'Agamemnon', 'Aguinaldo', 'Aguste', 'Agustin', 'Aharon', 'Ahmad', 'Ahmed', 'Ahmet', 'Ajai', 'Ajay', 'Al', 'Alaa', 'Alain', 'Alan', 'Alasdair', 'Alastair', 'Albatros', 'Albert', 'Alberto', 'Albrecht', 'Alden', 'Aldis', 'Aldo', 'Aldric', 'Aldrich', 'Aldus', 'Aldwin', 'Alec', 'Aleck', 'Alejandro', 'Aleks', 'Aleksandrs', 'Alessandro', 'Alex', 'Alexander', 'Alexei', 'Alexis', 'Alf', 'Alfie', 'Alfonse', 'Alfonso', 'Alfonzo', 'Alford', 'Alfred', 'Alfredo', 'Algernon', 'Ali', 'Alic', 'Alister', 'Alix', 'Allah', 'Allan', 'Allen', 'Alley', 'Allie', 'Allin', 'Allyn', 'Alonso', 'Alonzo', 'Aloysius', 'Alphonse', 'Alphonso', 'Alston', 'Alton', 'Alvin', 'Alwin', 'Amadeus', 'Ambros', 'Ambrose', 'Ambrosi', 'Ambrosio', 'Ambrosius', 'Amery', 'Amory', 'Amos', 'Anatol', 'Anatole', 'Anatollo', 'Anatoly', 'Anders', 'Andie', 'Andonis', 'Andre', 'Andrea', 'Andreas', 'Andrej', 'Andres', 'Andrew', 'Andrey', 'Andri', 'Andros', 'Andrus', 'Andrzej', 'Andy', 'Angel', 'Angelico', 'Angelo', 'Angie', 'Angus', 'Ansel', 'Ansell', 'Anselm', 'Anson', 'Anthony', 'Antin', 'Antoine', 'Anton', 'Antone', 'Antoni', 'Antonin', 'Antonino', 'Antonio', 'Antonius', 'Antony', 'Anurag', 'Apollo', 'Apostolos', 'Aram', 'Archibald', 'Archibold', 'Archie', 'Archon', 'Archy', 'Arel', 'Ari', 'Arie', 'Ariel', 'Aristotle', 'Arlo', 'Armand', 'Armando', 'Armond', 'Armstrong', 'Arne', 'Arnie', 'Arnold', 'Arnoldo', 'Aron', 'Arron', 'Art', 'Arther', 'Arthur', 'Artie', 'Artur', 'Arturo', 'Arvie', 'Arvin', 'Arvind', 'Arvy', 'Ash', 'Ashby', 'Ashish', 'Ashley', 'Ashton', 'Aub', 'Aube', 'Aubert', 'Aubrey', 'Augie', 'August', 'Augustin', 'Augustine', 'Augusto', 'Augustus', 'Austen', 'Austin', 'Ave', 'Averell', 'Averil', 'Averill', 'Avery', 'Avi', 'Avraham', 'Avram', 'Avrom', 'Axel', 'Aylmer', 'Aziz', 'Bailey', 'Bailie', 'Baillie', 'Baily', 'Baird', 'Baldwin', 'Bancroft', 'Barbabas', 'Barclay', 'Bard', 'Barde', 'Barn', 'Barnabas', 'Barnabe', 'Barnaby', 'Barnard', 'Barnebas', 'Barnett', 'Barney', 'Barnie', 'Barny', 'Baron', 'Barr', 'Barret', 'Barrett', 'Barri', 'Barrie', 'Barris', 'Barron', 'Barry', 'Bart', 'Bartel', 'Barth', 'Barthel', 'Bartholemy', 'Bartholomeo', 'Bartholomeus', 'Bartholomew', 'Bartie', 'Bartlet', 'Bartlett', 'Bartolemo', 'Bartolomei', 'Bartolomeo', 'Barton', 'Barty', 'Bary', 'Basil', 'Batholomew', 'Baxter', 'Bay', 'Bayard', 'Beale', 'Bealle', 'Bear', 'Bearnard', 'Beau', 'Beaufort', 'Beauregard', 'Beck', 'Bela', 'Ben', 'Benedict', 'Bengt', 'Benito', 'Benjamen', 'Benjamin', 'Benji', 'Benjie', 'Benjy', 'Benn', 'Bennet', 'Bennett', 'Bennie', 'Benny', 'Benson', 'Bentley', 'Benton', 'Beowulf', 'Berchtold', 'Berk', 'Berke', 'Berkeley', 'Berkie', 'Berkley', 'Bernard', 'Bernardo', 'Bernd', 'Bernhard', 'Bernie', 'Bert', 'Bertie', 'Bertram', 'Bertrand', 'Bharat', 'Biff', 'Bill', 'Billie', 'Billy', 'Bing', 'Binky', 'Bishop', 'Bjorn', 'Bjorne', 'Blaine', 'Blair', 'Blake', 'Blare', 'Blayne', 'Bo', 'Bob', 'Bobbie', 'Bobby', 'Bogart', 'Bogdan', 'Boniface', 'Boris', 'Boyce', 'Boyd', 'Brad', 'Braden', 'Bradford', 'Bradley', 'Bradly', 'Brady', 'Brandon', 'Brandy', 'Brant', 'Brendan', 'Brent', 'Bret', 'Brett', 'Brewer', 'Brewster', 'Brian', 'Brice', 'Briggs', 'Brinkley', 'Britt', 'Brock', 'Broddie', 'Broddy', 'Broderic', 'Broderick', 'Brodie', 'Brody', 'Bronson', 'Brook', 'Brooke', 'Brooks', 'Bruce', 'Bruno', 'Bryan', 'Bryant', 'Bryce', 'Bryn', 'Bryon', 'Bubba', 'Buck', 'Bucky', 'Bud', 'Buddy', 'Burgess', 'Burke', 'Burl', 'Burnaby', 'Burt', 'Burton', 'Buster', 'Butch', 'Butler', 'Byram', 'Byron', 'Caesar', 'Cain', 'Cal', 'Caldwell', 'Caleb', 'Calhoun', 'Calvin', 'Cam', 'Cameron', 'Cammy', 'Carey', 'Carl', 'Carleigh', 'Carlie', 'Carlin', 'Carlo', 'Carlos', 'Carlton', 'Carlyle', 'Carmine', 'Carroll', 'Carson', 'Carsten', 'Carter', 'Cary', 'Caryl', 'Case', 'Casey', 'Caspar', 'Casper', 'Cass', 'Cat', 'Cecil', 'Cesar', 'Chad', 'Chadd', 'Chaddie', 'Chaddy', 'Chadwick', 'Chaim', 'Chalmers', 'Chan', 'Chance', 'Chancey', 'Chanderjit', 'Chandler', 'Chane', 'Chariot', 'Charles', 'Charleton', 'Charley', 'Charlie', 'Charlton', 'Chas', 'Chase', 'Chaunce', 'Chauncey', 'Che', 'Chelton', 'Chen', 'Chester', 'Cheston', 'Chet', 'Chev', 'Chevalier', 'Chevy', 'Chip', 'Chris', 'Chrissy', 'Christ', 'Christian', 'Christiano', 'Christie', 'Christof', 'Christofer', 'Christoph', 'Christophe', 'Christopher', 'Christorpher', 'Christos', 'Christy', 'Chrisy', 'Chuck', 'Churchill', 'Clair', 'Claire', 'Clancy', 'Clarance', 'Clare', 'Clarence', 'Clark', 'Clarke', 'Claude', 'Claudio', 'Claudius', 'Claus', 'Clay', 'Clayborn', 'Clayborne', 'Claybourne', 'Clayton', 'Cleland', 'Clem', 'Clemens', 'Clement', 'Clemente', 'Clemmie', 'Cletus', 'Cleveland', 'Cliff', 'Clifford', 'Clifton', 'Clint', 'Clinten', 'Clinton', 'Clive', 'Clyde', 'Cob', 'Cobb', 'Cobbie', 'Cobby', 'Cody', 'Colbert', 'Cole', 'Coleman', 'Colin', 'Collin', 'Collins', 'Conan', 'Connie', 'Connolly', 'Connor', 'Conrad', 'Conroy', 'Constantin', 'Constantine', 'Constantinos', 'Conway', 'Cooper', 'Corbin', 'Corby', 'Corey', 'Corky', 'Cornelius', 'Cornellis', 'Corrie', 'Cortese', 'Corwin', 'Cory', 'Cosmo', 'Costa', 'Courtney', 'Craig', 'Crawford', 'Creighton', 'Cris', 'Cristopher', 'Curt', 'Curtice', 'Curtis', 'Cy', 'Cyril', 'Cyrill', 'Cyrille', 'Cyrillus', 'Cyrus', 'Dabney', 'Daffy', 'Dale', 'Dallas', 'Dalton', 'Damian', 'Damien', 'Damon', 'Dan', 'Dana', 'Dane', 'Dani', 'Danie', 'Daniel', 'Dannie', 'Danny', 'Dante', 'Darby', 'Darcy', 'Daren', 'Darian', 'Darien', 'Darin', 'Dario', 'Darius', 'Darrel', 'Darrell', 'Darren', 'Darrick', 'Darrin', 'Darryl', 'Darth', 'Darwin', 'Daryl', 'Daryle', 'Dave', 'Davey', 'David', 'Davidde', 'Davide', 'Davidson', 'Davie', 'Davin', 'Davis', 'Davon', 'Davoud', 'Davy', 'Dawson', 'Dean', 'Deane', 'Del', 'Delbert', 'Dell', 'Delmar', 'Demetre', 'Demetri', 'Demetris', 'Demetrius', 'Demosthenis', 'Denis', 'Dennie', 'Dennis', 'Denny', 'Derby', 'Derek', 'Derick', 'Derk', 'Derrek', 'Derrick', 'Derrin', 'Derrol', 'Derron', 'Deryl', 'Desmond', 'Desmund', 'Devin', 'Devon', 'Dewey', 'Dewitt', 'Dexter', 'Dick', 'Dickey', 'Dickie', 'Diego', 'Dieter', 'Dietrich', 'Dillon', 'Dimitri', 'Dimitrios', 'Dimitris', 'Dimitrou', 'Dimitry', 'Dino', 'Dion', 'Dionis', 'Dionysus', 'Dirk', 'Dmitri', 'Dom', 'Domenic', 'Domenico', 'Dominic', 'Dominick', 'Dominique', 'Don', 'Donal', 'Donald', 'Donn', 'Donnie', 'Donny', 'Donovan', 'Dorian', 'Dory', 'Doug', 'Douggie', 'Dougie', 'Douglas', 'Douglass', 'Douglis', 'Dov', 'Doyle', 'Drake', 'Drew', 'Dru', 'Dryke', 'Duane', 'Dudley', 'Duffie', 'Duffy', 'Dugan', 'Duke', 'Dunc', 'Duncan', 'Dunstan', 'Durand', 'Durant', 'Durante', 'Durward', 'Dustin', 'Dwain', 'Dwaine', 'Dwane', 'Dwayne', 'Dwight', 'Dylan', 'Dyson', 'Earl', 'Earle', 'Easton', 'Eben', 'Ebeneser', 'Ebenezer', 'Eberhard', 'Ed', 'Eddie', 'Eddy', 'Edgar', 'Edgardo', 'Edie', 'Edmond', 'Edmund', 'Edouard', 'Edsel', 'Eduard', 'Eduardo', 'Edward', 'Edwin', 'Efram', 'Egbert', 'Ehud', 'Elbert', 'Elden', 'Eldon', 'Eli', 'Elias', 'Elihu', 'Elijah', 'Eliot', 'Eliott', 'Elisha', 'Elliot', 'Elliott', 'Ellis', 'Ellsworth', 'Ellwood', 'Elmer', 'Elmore', 'Elnar', 'Elric', 'Elroy', 'Elton', 'Elvin', 'Elvis', 'Elwin', 'Elwood', 'Elwyn', 'Ely', 'Emanuel', 'Emerson', 'Emery', 'Emil', 'Emile', 'Emilio', 'Emmanuel', 'Emmery', 'Emmet', 'Emmett', 'Emmit', 'Emmott', 'Emmy', 'Emory', 'Ender', 'Engelbart', 'Engelbert', 'Englebart', 'Englebert', 'Enoch', 'Enrico', 'Enrique', 'Ephraim', 'Ephram', 'Ephrayim', 'Ephrem', 'Er', 'Erasmus', 'Erastus', 'Erek', 'Erhard', 'Erhart', 'Eric', 'Erich', 'Erick', 'Erik', 'Erin', 'Erl', 'Ernest', 'Ernesto', 'Ernie', 'Ernst', 'Erny', 'Errol', 'Ervin', 'Erwin', 'Esau', 'Esme', 'Esteban', 'Ethan', 'Ethelbert', 'Ethelred', 'Etienne', 'Euclid', 'Eugen', 'Eugene', 'Eustace', 'Ev', 'Evan', 'Evelyn', 'Everard', 'Everett', 'Ewan', 'Ewart', 'Ez', 'Ezechiel', 'Ezekiel', 'Ezra', 'Fabian', 'Fabio', 'Fairfax', 'Farley', 'Fazeel', 'Federico', 'Felice', 'Felicio', 'Felipe', 'Felix', 'Ferd', 'Ferdie', 'Ferdinand', 'Ferdy', 'Fergus', 'Ferguson', 'Ferinand', 'Fernando', 'Fidel', 'Filbert', 'Filip', 'Filipe', 'Filmore', 'Finley', 'Finn', 'Fitz', 'Fitzgerald', 'Flem', 'Fleming', 'Flemming', 'Fletch', 'Fletcher', 'Flin', 'Flinn', 'Flint', 'Flipper', 'Florian', 'Floyd', 'Flynn', 'Fons', 'Fonsie', 'Fonz', 'Fonzie', 'Forbes', 'Ford', 'Forest', 'Forester', 'Forrest', 'Forrester', 'Forster', 'Foster', 'Fowler', 'Fox', 'Fran', 'Francesco', 'Francis', 'Francisco', 'Francois', 'Frank', 'Frankie', 'Franklin', 'Franklyn', 'Franky', 'Frans', 'Franz', 'Fraser', 'Frazier', 'Fred', 'Freddie', 'Freddy', 'Frederic', 'Frederich', 'Frederick', 'Frederico', 'Frederik', 'Fredric', 'Fredrick', 'Freeman', 'Freemon', 'Fremont', 'French', 'Friedric', 'Friedrich', 'Friedrick', 'Fritz', 'Fulton', 'Fyodor', 'Gabe', 'Gabriel', 'Gabriele', 'Gabriell', 'Gabriello', 'Gail', 'Gale', 'Galen', 'Gallagher', 'Gamaliel', 'Garcia', 'Garcon', 'Gardener', 'Gardiner', 'Gardner', 'Garey', 'Garfield', 'Garfinkel', 'Garold', 'Garp', 'Garret', 'Garrett', 'Garrot', 'Garrott', 'Garry', 'Garth', 'Garv', 'Garvey', 'Garvin', 'Garvy', 'Garwin', 'Garwood', 'Gary', 'Gaspar', 'Gasper', 'Gaston', 'Gav', 'Gaven', 'Gavin', 'Gavriel', 'Gay', 'Gayle', 'Gearard', 'Gene', 'Geo', 'Geof', 'Geoff', 'Geoffrey', 'Geoffry', 'Georg', 'George', 'Georges', 'Georgia', 'Georgie', 'Georgy', 'Gerald', 'Geraldo', 'Gerard', 'Gere', 'Gerhard', 'Gerhardt', 'Geri', 'Germaine', 'Gerold', 'Gerome', 'Gerrard', 'Gerri', 'Gerrit', 'Gerry', 'Gershom', 'Gershon', 'Giacomo', 'Gian', 'Giancarlo', 'Giavani', 'Gibb', 'Gideon', 'Giff', 'Giffard', 'Giffer', 'Giffie', 'Gifford', 'Giffy', 'Gil', 'Gilbert', 'Gilberto', 'Gilburt', 'Giles', 'Gill', 'Gilles', 'Ginger', 'Gino', 'Giordano', 'Giorgi', 'Giorgio', 'Giovanne', 'Giovanni', 'Giraldo', 'Giraud', 'Giuseppe', 'Glen', 'Glenn', 'Glynn', 'Godard', 'Godart', 'Goddard', 'Goddart', 'Godfree', 'Godfrey', 'Godfry', 'Godwin', 'Gomer', 'Gonzales', 'Gonzalo', 'Goober', 'Goose', 'Gordan', 'Gordie', 'Gordon', 'Grace', 'Grady', 'Graehme', 'Graeme', 'Graham', 'Graig', 'Grant', 'Granville', 'Greg', 'Gregg', 'Greggory', 'Gregor', 'Gregorio', 'Gregory', 'Gretchen', 'Griff', 'Griffin', 'Griffith', 'Griswold', 'Grove', 'Grover', 'Guido', 'Guillaume', 'Guillermo', 'Gunner', 'Gunter', 'Gunther', 'Gus', 'Gustaf', 'Gustav', 'Gustave', 'Gustavo', 'Gustavus', 'Guthrey', 'Guthrie', 'Guthry', 'Guy', 'Hadleigh', 'Hadley', 'Hadrian', 'Hagan', 'Hagen', 'Hailey', 'Hakeem', 'Hakim', 'Hal', 'Hale', 'Haleigh', 'Haley', 'Hall', 'Hallam', 'Halvard', 'Ham', 'Hamel', 'Hamid', 'Hamil', 'Hamilton', 'Hamish', 'Hamlen', 'Hamlet', 'Hamlin', 'Hammad', 'Hamnet', 'Han', 'Hanan', 'Hanford', 'Hank', 'Hannibal', 'Hans', 'Hans-Peter', 'Hansel', 'Hanson', 'Harald', 'Harcourt', 'Hari', 'Harlan', 'Harland', 'Harley', 'Harlin', 'Harman', 'Harmon', 'Harold', 'Harris', 'Harrison', 'Harrold', 'Harry', 'Hart', 'Hartley', 'Hartwell', 'Harv', 'Harvard', 'Harvey', 'Harvie', 'Harwell', 'Hasheem', 'Hashim', 'Haskel', 'Haskell', 'Hassan', 'Hastings', 'Hasty', 'Haven', 'Hayden', 'Haydon', 'Hayes', 'Hayward', 'Haywood', 'Hazel', 'Heath', 'Heathcliff', 'Hebert', 'Hector', 'Heinrich', 'Heinz', 'Helmuth', 'Henderson', 'Hendrick', 'Hendrik', 'Henri', 'Henrie', 'Henrik', 'Henrique', 'Henry', 'Herb', 'Herbert', 'Herbie', 'Herby', 'Hercule', 'Hercules', 'Herculie', 'Herman', 'Hermann', 'Hermon', 'Hermy', 'Hernando', 'Herold', 'Herrick', 'Herrmann', 'Hersch', 'Herschel', 'Hersh', 'Hershel', 'Herve', 'Hervey', 'Hew', 'Hewe', 'Hewet', 'Hewett', 'Hewie', 'Hewitt', 'Heywood', 'Hezekiah', 'Higgins', 'Hilary', 'Hilbert', 'Hill', 'Hillard', 'Hillary', 'Hillel', 'Hillery', 'Hilliard', 'Hilton', 'Hiralal', 'Hiram', 'Hiro', 'Hirsch', 'Hobart', 'Hodge', 'Hogan', 'Hollis', 'Holly', 'Homer', 'Horace', 'Horacio', 'Horatio', 'Horatius', 'Horst', 'Howard', 'Howie', 'Hoyt', 'Hubert', 'Hudson', 'Huey', 'Hugh', 'Hugo', 'Humbert', 'Humphrey', 'Hunt', 'Hunter', 'Huntington', 'Huntlee', 'Huntley', 'Hurley', 'Husain', 'Husein', 'Hussein', 'Hy', 'Hyatt', 'Hyman', 'Hymie', 'Iago', 'Iain', 'Ian', 'Ibrahim', 'Ichabod', 'Iggie', 'Iggy', 'Ignace', 'Ignacio', 'Ignacius', 'Ignatius', 'Ignaz', 'Ignazio', 'Igor', 'Ike', 'Ikey', 'Immanuel', 'Ingamar', 'Ingelbert', 'Ingemar', 'Inglebert', 'Ingmar', 'Ingram', 'Inigo', 'Ira', 'Irvin', 'Irvine', 'Irving', 'Irwin', 'Isa', 'Isaac', 'Isaak', 'Isador', 'Isadore', 'Isaiah', 'Ishmael', 'Isidore', 'Ismail', 'Israel', 'Istvan', 'Ivan', 'Ivor', 'Izaak', 'Izak', 'Izzy', 'Jabez', 'Jack', 'Jackie', 'Jackson', 'Jacob', 'Jacques', 'Jae', 'Jaime', 'Jake', 'Jakob', 'James', 'Jameson', 'Jamey', 'Jamie', 'Jan', 'Janos', 'Janus', 'Jared', 'Jarrett', 'Jarvis', 'Jason', 'Jasper', 'Javier', 'Jay', 'Jean', 'Jean-Christophe', 'Jean-Francois', 'Jean-Lou', 'Jean-Luc', 'Jean-Marc', 'Jean-Paul', 'Jean-Pierre', 'Jeb', 'Jed', 'Jedediah', 'Jef', 'Jeff', 'Jefferey', 'Jefferson', 'Jeffery', 'Jeffie', 'Jeffrey', 'Jeffry', 'Jefry', 'Jehu', 'Jennings', 'Jens', 'Jephthah', 'Jerald', 'Jeramie', 'Jere', 'Jereme', 'Jeremiah', 'Jeremias', 'Jeremie', 'Jeremy', 'Jermain', 'Jermaine', 'Jermayne', 'Jerold', 'Jerome', 'Jeromy', 'Jerri', 'Jerrie', 'Jerrold', 'Jerrome', 'Jerry', 'Jervis', 'Jerzy', 'Jess', 'Jesse', 'Jessee', 'Jessey', 'Jessie', 'Jesus', 'Jeth', 'Jethro', 'Jim', 'Jimbo', 'Jimmie', 'Jimmy', 'Jo', 'Joab', 'Joachim', 'Joao', 'Joaquin', 'Job', 'Jock', 'Jodi', 'Jodie', 'Jody', 'Joe', 'Joel', 'Joey', 'Johan', 'Johann', 'Johannes', 'John', 'John-David', 'John-Patrick', 'Johnathan', 'Johnathon', 'Johnnie', 'Johnny', 'Johny', 'Jon', 'Jonah', 'Jonas', 'Jonathan', 'Jonathon', 'Jonny', 'Jordan', 'Jordon', 'Jordy', 'Jorge', 'Jory', 'Jose', 'Josef', 'Joseph', 'Josephus', 'Josh', 'Joshua', 'Joshuah', 'Josiah', 'Jotham', 'Juan', 'Juanita', 'Jud', 'Judah', 'Judas', 'Judd', 'Jude', 'Judith', 'Judson', 'Judy', 'Juergen', 'Jule', 'Jules', 'Julian', 'Julie', 'Julio', 'Julius', 'Justin', 'Justis', 'Kaiser', 'Kaleb', 'Kalil', 'Kalle', 'Kalman', 'Kalvin', 'Kam', 'Kane', 'Kareem', 'Karel', 'Karim', 'Karl', 'Karsten', 'Kaspar', 'Keefe', 'Keenan', 'Keene', 'Keil', 'Keith', 'Kellen', 'Kelley', 'Kelly', 'Kelsey', 'Kelvin', 'Kelwin', 'Ken', 'Kendal', 'Kendall', 'Kendrick', 'Kenn', 'Kennedy', 'Kenneth', 'Kenny', 'Kent', 'Kenton', 'Kenyon', 'Kermie', 'Kermit', 'Kerry', 'Kevan', 'Kevin', 'Kim', 'Kimball', 'Kimmo', 'Kin', 'Kincaid', 'King', 'Kingsley', 'Kingsly', 'Kingston', 'Kip', 'Kirby', 'Kirk', 'Kit', 'Klaus', 'Klee', 'Knox', 'Konrad', 'Konstantin', 'Kory', 'Kostas', 'Kraig', 'Kris', 'Krishna', 'Kristian', 'Kristopher', 'Kristos', 'Kurt', 'Kurtis', 'Kyle', 'Laird', 'Lamar', 'Lambert', 'Lamont', 'Lance', 'Lancelot', 'Lane', 'Langston', 'Lanny', 'Larry', 'Lars', 'Laurance', 'Lauren', 'Laurence', 'Laurens', 'Laurent', 'Laurie', 'Lawerence', 'Lawrence', 'Lawson', 'Lawton', 'Lay', 'Layton', 'Lazar', 'Lazare', 'Lazaro', 'Lazarus', 'Lazlo', 'Lee', 'Lefty', 'Leif', 'Leigh', 'Leighton', 'Leland', 'Lem', 'Lemar', 'Lemmie', 'Lemmy', 'Lemuel', 'Len', 'Lenard', 'Lennie', 'Lenny', 'Leo', 'Leon', 'Leonard', 'Leonardo', 'Leonerd', 'Leonhard', 'Leonid', 'Leonidas', 'Leopold', 'Leroy', 'Les', 'Lesley', 'Leslie', 'Lester', 'Lev', 'Levi', 'Levin', 'Levon', 'Levy', 'Lew', 'Lewis', 'Lex', 'Liam', 'Lin', 'Lincoln', 'Lind', 'Lindsay', 'Lindsey', 'Lindy', 'Linoel', 'Linus', 'Lion', 'Lionel', 'Lionello', 'Llewellyn', 'Lloyd', 'Locke', 'Lockwood', 'Logan', 'Lon', 'Lonnie', 'Lonny', 'Loren', 'Lorenzo', 'Lorne', 'Lorrie', 'Lothar', 'Lou', 'Louie', 'Louis', 'Lovell', 'Lowell', 'Lucas', 'Luce', 'Lucian', 'Luciano', 'Lucien', 'Lucio', 'Lucius', 'Ludvig', 'Ludwig', 'Luigi', 'Luis', 'Lukas', 'Luke', 'Luther', 'Lyle', 'Lyn', 'Lyndon', 'Lynn', 'Mac', 'Mace', 'Mack', 'Mackenzie', 'Maddie', 'Maddy', 'Madison', 'Magnum', 'Magnus', 'Mahesh', 'Mahmoud', 'Mahmud', 'Maison', 'Major', 'Malcolm', 'Manfred', 'Manish', 'Manny', 'Manuel', 'Marc', 'Marcel', 'Marcello', 'Marcellus', 'Marcelo', 'Marchall', 'Marcio', 'Marco', 'Marcos', 'Marcus', 'Marietta', 'Marilu', 'Mario', 'Marion', 'Marius', 'Mark', 'Marko', 'Markos', 'Markus', 'Marlin', 'Marlo', 'Marlon', 'Marlow', 'Marlowe', 'Marmaduke', 'Marsh', 'Marshal', 'Marshall', 'Mart', 'Martainn', 'Marten', 'Martie', 'Martin', 'Martino', 'Marty', 'Martyn', 'Marv', 'Marve', 'Marven', 'Marvin', 'Marwin', 'Mason', 'Mateo', 'Mathew', 'Mathias', 'Matias', 'Matt', 'Matteo', 'Matthaeus', 'Mattheus', 'Matthew', 'Matthias', 'Matthieu', 'Matthiew', 'Matthus', 'Mattias', 'Mattie', 'Matty', 'Maurice', 'Mauricio', 'Maurie', 'Maurise', 'Maurits', 'Mauritz', 'Maury', 'Max', 'Maxfield', 'Maxie', 'Maxim', 'Maximilian', 'Maximilien', 'Maxwell', 'Mayer', 'Maynard', 'Maynord', 'Mayor', 'Mead', 'Meade', 'Meier', 'Meir', 'Mel', 'Melvin', 'Melvyn', 'Menard', 'Mendel', 'Mendie', 'Meredeth', 'Meredith', 'Merell', 'Merill', 'Merle', 'Merlin', 'Merrel', 'Merrick', 'Merril', 'Merrill', 'Merry', 'Merv', 'Mervin', 'Merwin', 'Meryl', 'Meyer', 'Mic', 'Micah', 'Michael', 'Michail', 'Michal', 'Michale', 'Micheal', 'Micheil', 'Michel', 'Michele', 'Mick', 'Mickey', 'Mickie', 'Micky', 'Miguel', 'Mika', 'Mikael', 'Mike', 'Mikel', 'Mikey', 'Mikhail', 'Miles', 'Millicent', 'Milo', 'Milt', 'Milton', 'Mischa', 'Mitch', 'Mitchael', 'Mitchel', 'Mitchell', 'Moe', 'Mohamad', 'Mohamed', 'Mohammad', 'Mohammed', 'Mohan', 'Moise', 'Moises', 'Moishe', 'Monroe', 'Montague', 'Monte', 'Montgomery', 'Monty', 'Moore', 'Mordecai', 'Morgan', 'Morlee', 'Morley', 'Morly', 'Morrie', 'Morris', 'Morry', 'Morse', 'Mort', 'Morten', 'Mortie', 'Mortimer', 'Morton', 'Morty', 'Mose', 'Moses', 'Moshe', 'Moss', 'Muffin', 'Mugsy', 'Muhammad', 'Munmro', 'Munroe', 'Murdoch', 'Murdock', 'Murphy', 'Murray', 'Mustafa', 'Myke', 'Myles', 'Mylo', 'Myron', 'Nahum', 'Napoleon', 'Nat', 'Natale', 'Nate', 'Nathan', 'Nathanael', 'Nathanial', 'Nathaniel', 'Nathanil', 'Neal', 'Neale', 'Neall', 'Nealon', 'Nealson', 'Nealy', 'Ned', 'Neddie', 'Neddy', 'Neel', 'Neil', 'Nels', 'Nelsen', 'Nelson', 'Nero', 'Neron', 'Nester', 'Nestor', 'Nev', 'Nevil', 'Nevile', 'Neville', 'Nevin', 'Nevins', 'Newton', 'Niall', 'Niccolo', 'Nicholas', 'Nichole', 'Nichols', 'Nick', 'Nickey', 'Nickie', 'Nickolas', 'Nicky', 'Nico', 'Nicolas', 'Niels', 'Nigel', 'Niki', 'Nikita', 'Nikki', 'Nikolai', 'Nikos', 'Niles', 'Nils', 'Nilson', 'Niven', 'Noach', 'Noah', 'Noam', 'Noble', 'Noe', 'Noel', 'Nolan', 'Noland', 'Norbert', 'Norm', 'Norman', 'Normand', 'Normie', 'Norris', 'Northrop', 'Northrup', 'Norton', 'Norwood', 'Nunzio', 'Obadiah', 'Obadias', 'Oberon', 'Obie', 'Octavius', 'Odell', 'Odie', 'Odin', 'Odysseus', 'Olaf', 'Olag', 'Ole', 'Oleg', 'Olin', 'Oliver', 'Olivier', 'Olle', 'Ollie', 'Omar', 'Oral', 'Oran', 'Orazio', 'Orbadiah', 'Oren', 'Orin', 'Orion', 'Orlando', 'Orren', 'Orrin', 'Orson', 'Orton', 'Orville', 'Osbert', 'Osborn', 'Osborne', 'Osbourn', 'Osbourne', 'Oscar', 'Osgood', 'Osmond', 'Osmund', 'Ossie', 'Oswald', 'Oswell', 'Otes', 'Othello', 'Otho', 'Otis', 'Otto', 'Owen', 'Ozzie', 'Ozzy', 'Pablo', 'Pace', 'Paco', 'Paddie', 'Paddy', 'Padraig', 'Page', 'Paige', 'Pail', 'Palmer', 'Paolo', 'Park', 'Parke', 'Parker', 'Parnell', 'Parrnell', 'Parry', 'Parsifal', 'Partha', 'Pascal', 'Pascale', 'Pasquale', 'Pat', 'Pate', 'Patel', 'Paten', 'Patin', 'Paton', 'Patric', 'Patrice', 'Patricio', 'Patrick', 'Patrik', 'Patsy', 'Pattie', 'Patty', 'Paul', 'Paulo', 'Pavel', 'Pearce', 'Pedro', 'Peirce', 'Pembroke', 'Pen', 'Penn', 'Pennie', 'Penny', 'Penrod', 'Pepe', 'Pepillo', 'Pepito', 'Perceval', 'Percival', 'Percy', 'Perry', 'Pete', 'Peter', 'Petey', 'Petr', 'Peyter', 'Peyton', 'Phil', 'Philbert', 'Philip', 'Phillip', 'Phillipe', 'Phillipp', 'Phineas', 'Phip', 'Pierce', 'Pierre', 'Pierson', 'Piet', 'Pieter', 'Pietro', 'Piggy', 'Pincas', 'Pinchas', 'Pincus', 'Piotr', 'Pip', 'Plato', 'Pooh', 'Porter', 'Poul', 'Powell', 'Praneetf', 'Prasad', 'Prasun', 'Prent', 'Prentice', 'Prentiss', 'Prescott', 'Preston', 'Price', 'Prince', 'Pryce', 'Puff', 'Purce

In [5]:
# len(get_attributes_ids(all_attribute_list))

In [6]:
import job_data_unbalanced_original_and_flipped
# import job_data_unbalanced_test
df = job_data_unbalanced_original_and_flipped.final_bios_df
# test_df = job_data_unbalanced_test.test_final_bios_df
df

/project_ghent/bias_mitigation_in_text_classification/bias_in_bios_k_fold/job_data_unbalanced_original_and_flipped.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_bios_df["job_cat"] = "female_job"
/project_ghent/bias_mitigation_in_text_classification/bias_in_bios_k_fold/job_data_unbalanced_original_and_flipped.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_bios_df["job_cat_id"] = int(0)
/project_ghent/bias_mitigation_in_text_classification/bias_in_bios_k_fold/job_data_unbalanced_original_and_flipped.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_bios_df["job_cat"] = "male_job"
/project_ghent/bias_mitigation_in_text_classification/bias_in_bios_k_fold/job_data_unbalanced_original_and_flipped.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_bios_df["job_cat_id"] = int(1)

,raw_title,gender,label,scrubbed,bio,flipped_bio,swapped,prof,job_cat,job_cat_id
31289,architect,M,1,"_ focuses on cloud security, identity and acce...","He focuses on cloud security, identity and acc...","She focuses on cloud security, identity and ac...","She focuses on cloud security, identity and ac...",architect,male_job,1
61990,software engineer,M,24,"_ is the creator of Statoshi, a fork of Bitcoi...","He is the creator of Statoshi, a fork of Bitco...","She is the creator of Statoshi, a fork of Bitc...","She is the creator of Statoshi, a fork of Bitc...",software_engineer,male_job,1
29313,comedian,M,4,"_ children's books include ""Pouch Potato, Char...","His children's books include ""Pouch Potato, Ch...","Her children's books include ""Pouch Potato, Sh...","Her children's books include ""Pouch Potato, Ch...",comedian,male_job,1
61302,psychologist,M,22,"_ also has a therapy practice, through which _...","He also has a therapy practice, through which ...","She also has a therapy practice, through which...","She also has a therapy practice, through which...",psychologist,female_job,0
60333,architect,M,1,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,architect,male_job,1
...,...,...,...,...,...,...,...,...,...,...
5098,DJ,M,8,"_’s toured the UK, Europe and Canada as well a...","He’s toured the UK, Europe and Canada as well ...","She’s toured the UK, Europe and Canada as well...","She’s toured the UK, Europe and Canada as well...",dj,male_job,1
11063,Surgeon,M,25,"Dr. _ graduated from Andhra Medical College, A...",Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,surgeon,male_job,1
49107,psychologist,F,22,_ has a longstanding interest in youth mental ...,She has a longstanding interest in youth menta...,He has a longstanding interest in youth mental...,He has a longstanding interest in youth mental...,psychologist,female_job,0
8028,Dietitian,F,7,_ provides one-on-one dietary counseling on we...,She provides one-on-one dietary counseling on ...,He provides one-on-one dietary counseling on w...,He provides one-on-one dietary counseling on w...,dietitian,female_job,0
45876,Architect,M,1,_ has over fourteen years of experience develo...,He has over fourteen years of experience devel...,She has over fourteen years of experience deve...,She has over fourteen years of experience deve...,architect,male_job,1

In [7]:
df.rename(columns={'label':'old_label'}, inplace=True)
df

,raw_title,gender,old_label,scrubbed,bio,flipped_bio,swapped,prof,job_cat,job_cat_id
31289,architect,M,1,"_ focuses on cloud security, identity and acce...","He focuses on cloud security, identity and acc...","She focuses on cloud security, identity and ac...","She focuses on cloud security, identity and ac...",architect,male_job,1
61990,software engineer,M,24,"_ is the creator of Statoshi, a fork of Bitcoi...","He is the creator of Statoshi, a fork of Bitco...","She is the creator of Statoshi, a fork of Bitc...","She is the creator of Statoshi, a fork of Bitc...",software_engineer,male_job,1
29313,comedian,M,4,"_ children's books include ""Pouch Potato, Char...","His children's books include ""Pouch Potato, Ch...","Her children's books include ""Pouch Potato, Sh...","Her children's books include ""Pouch Potato, Ch...",comedian,male_job,1
61302,psychologist,M,22,"_ also has a therapy practice, through which _...","He also has a therapy practice, through which ...","She also has a therapy practice, through which...","She also has a therapy practice, through which...",psychologist,female_job,0
60333,architect,M,1,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,architect,male_job,1
...,...,...,...,...,...,...,...,...,...,...
5098,DJ,M,8,"_’s toured the UK, Europe and Canada as well a...","He’s toured the UK, Europe and Canada as well ...","She’s toured the UK, Europe and Canada as well...","She’s toured the UK, Europe and Canada as well...",dj,male_job,1
11063,Surgeon,M,25,"Dr. _ graduated from Andhra Medical College, A...",Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,surgeon,male_job,1
49107,psychologist,F,22,_ has a longstanding interest in youth mental ...,She has a longstanding interest in youth menta...,He has a longstanding interest in youth mental...,He has a longstanding interest in youth mental...,psychologist,female_job,0
8028,Dietitian,F,7,_ provides one-on-one dietary counseling on we...,She provides one-on-one dietary counseling on ...,He provides one-on-one dietary counseling on w...,He provides one-on-one dietary counseling on w...,dietitian,female_job,0
45876,Architect,M,1,_ has over fourteen years of experience develo...,He has over fourteen years of experience devel...,She has over fourteen years of experience deve...,She has over fourteen years of experience deve...,architect,male_job,1

In [8]:
# df['label'] = 0
# for k,i in enumerate(df.old_label.unique()):
#     df['label'] = np.where(df['old_label']== i, k, df['label'])
# df

In [9]:
# label_dict = pd.Series(df.label.values,index=df.prof).to_dict()
# label_dict
label_dict = {
    'yoga_teacher': 0,
 'dietitian': 1,
 'comedian': 2,
 'composer': 3,
 'surgeon': 4,
 'nurse': 5,
 'rapper': 6,
 'dj': 7,
 'psychologist': 8,
 'model': 9,
 'interior_designer': 10,
 'software_engineer': 11,
 'paralegal': 12,
 'architect': 13
}

In [10]:
df.rename(columns={'label':'old_label'}, inplace=True)
df['label'] = df['prof'].map(label_dict)
df

,raw_title,gender,old_label,scrubbed,bio,flipped_bio,swapped,prof,job_cat,job_cat_id,label
31289,architect,M,1,"_ focuses on cloud security, identity and acce...","He focuses on cloud security, identity and acc...","She focuses on cloud security, identity and ac...","She focuses on cloud security, identity and ac...",architect,male_job,1,13
61990,software engineer,M,24,"_ is the creator of Statoshi, a fork of Bitcoi...","He is the creator of Statoshi, a fork of Bitco...","She is the creator of Statoshi, a fork of Bitc...","She is the creator of Statoshi, a fork of Bitc...",software_engineer,male_job,1,11
29313,comedian,M,4,"_ children's books include ""Pouch Potato, Char...","His children's books include ""Pouch Potato, Ch...","Her children's books include ""Pouch Potato, Sh...","Her children's books include ""Pouch Potato, Ch...",comedian,male_job,1,2
61302,psychologist,M,22,"_ also has a therapy practice, through which _...","He also has a therapy practice, through which ...","She also has a therapy practice, through which...","She also has a therapy practice, through which...",psychologist,female_job,0,8
60333,architect,M,1,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,architect,male_job,1,13
...,...,...,...,...,...,...,...,...,...,...,...
5098,DJ,M,8,"_’s toured the UK, Europe and Canada as well a...","He’s toured the UK, Europe and Canada as well ...","She’s toured the UK, Europe and Canada as well...","She’s toured the UK, Europe and Canada as well...",dj,male_job,1,7
11063,Surgeon,M,25,"Dr. _ graduated from Andhra Medical College, A...",Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,surgeon,male_job,1,4
49107,psychologist,F,22,_ has a longstanding interest in youth mental ...,She has a longstanding interest in youth menta...,He has a longstanding interest in youth mental...,He has a longstanding interest in youth mental...,psychologist,female_job,0,8
8028,Dietitian,F,7,_ provides one-on-one dietary counseling on we...,She provides one-on-one dietary counseling on ...,He provides one-on-one dietary counseling on w...,He provides one-on-one dietary counseling on w...,dietitian,female_job,0,1
45876,Architect,M,1,_ has over fourteen years of experience develo...,He has over fourteen years of experience devel...,She has over fourteen years of experience deve...,She has over fourteen years of experience deve...,architect,male_job,1,13

In [11]:
df.label.value_counts().to_dict()

{8: 4151,
 13: 2796,
 5: 2788,
 4: 2736,
 11: 1990,
 3: 1750,
 9: 1549,
 1: 1006,
 2: 813,
 12: 412,
 0: 406,
 10: 393,
 6: 362,
 7: 347}

In [12]:
# df.rename(columns={'label':'old_label'}, inplace=True)
# df

In [13]:
# df['label'] = 0
# for k,i in enumerate(df.old_label.unique()):
#     df['label'] = np.where(df['old_label']== i, k, df['label'])
# df

In [14]:
gender = {'M': 1,'F': 0}
df.gender = [gender[item] for item in df.gender]
df

,raw_title,gender,old_label,scrubbed,bio,flipped_bio,swapped,prof,job_cat,job_cat_id,label
31289,architect,1,1,"_ focuses on cloud security, identity and acce...","He focuses on cloud security, identity and acc...","She focuses on cloud security, identity and ac...","She focuses on cloud security, identity and ac...",architect,male_job,1,13
61990,software engineer,1,24,"_ is the creator of Statoshi, a fork of Bitcoi...","He is the creator of Statoshi, a fork of Bitco...","She is the creator of Statoshi, a fork of Bitc...","She is the creator of Statoshi, a fork of Bitc...",software_engineer,male_job,1,11
29313,comedian,1,4,"_ children's books include ""Pouch Potato, Char...","His children's books include ""Pouch Potato, Ch...","Her children's books include ""Pouch Potato, Sh...","Her children's books include ""Pouch Potato, Ch...",comedian,male_job,1,2
61302,psychologist,1,22,"_ also has a therapy practice, through which _...","He also has a therapy practice, through which ...","She also has a therapy practice, through which...","She also has a therapy practice, through which...",psychologist,female_job,0,8
60333,architect,1,1,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,architect,male_job,1,13
...,...,...,...,...,...,...,...,...,...,...,...
5098,DJ,1,8,"_’s toured the UK, Europe and Canada as well a...","He’s toured the UK, Europe and Canada as well ...","She’s toured the UK, Europe and Canada as well...","She’s toured the UK, Europe and Canada as well...",dj,male_job,1,7
11063,Surgeon,1,25,"Dr. _ graduated from Andhra Medical College, A...",Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,surgeon,male_job,1,4
49107,psychologist,0,22,_ has a longstanding interest in youth mental ...,She has a longstanding interest in youth menta...,He has a longstanding interest in youth mental...,He has a longstanding interest in youth mental...,psychologist,female_job,0,8
8028,Dietitian,0,7,_ provides one-on-one dietary counseling on we...,She provides one-on-one dietary counseling on ...,He provides one-on-one dietary counseling on w...,He provides one-on-one dietary counseling on w...,dietitian,female_job,0,1
45876,Architect,1,1,_ has over fourteen years of experience develo...,He has over fourteen years of experience devel...,She has over fourteen years of experience deve...,She has over fourteen years of experience deve...,architect,male_job,1,13

In [15]:
# import pandas as pd
import nltk
nltk.download('punkt')

df['tokenized_scrubbed'] = df.apply(lambda row: nltk.word_tokenize(row['scrubbed']), axis=1)
df

[nltk_data] Downloading package punkt to /home/etokpoua/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

,raw_title,gender,old_label,scrubbed,bio,flipped_bio,swapped,prof,job_cat,job_cat_id,label,tokenized_scrubbed
31289,architect,1,1,"_ focuses on cloud security, identity and acce...","He focuses on cloud security, identity and acc...","She focuses on cloud security, identity and ac...","She focuses on cloud security, identity and ac...",architect,male_job,1,13,"[_, focuses, on, cloud, security, ,, identity,..."
61990,software engineer,1,24,"_ is the creator of Statoshi, a fork of Bitcoi...","He is the creator of Statoshi, a fork of Bitco...","She is the creator of Statoshi, a fork of Bitc...","She is the creator of Statoshi, a fork of Bitc...",software_engineer,male_job,1,11,"[_, is, the, creator, of, Statoshi, ,, a, fork..."
29313,comedian,1,4,"_ children's books include ""Pouch Potato, Char...","His children's books include ""Pouch Potato, Ch...","Her children's books include ""Pouch Potato, Sh...","Her children's books include ""Pouch Potato, Ch...",comedian,male_job,1,2,"[_, children, 's, books, include, ``, Pouch, P..."
61302,psychologist,1,22,"_ also has a therapy practice, through which _...","He also has a therapy practice, through which ...","She also has a therapy practice, through which...","She also has a therapy practice, through which...",psychologist,female_job,0,8,"[_, also, has, a, therapy, practice, ,, throug..."
60333,architect,1,1,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,architect,male_job,1,13,"[The, exhibition, explores, concrete, construc..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5098,DJ,1,8,"_’s toured the UK, Europe and Canada as well a...","He’s toured the UK, Europe and Canada as well ...","She’s toured the UK, Europe and Canada as well...","She’s toured the UK, Europe and Canada as well...",dj,male_job,1,7,"[_, ’, s, toured, the, UK, ,, Europe, and, Can..."
11063,Surgeon,1,25,"Dr. _ graduated from Andhra Medical College, A...",Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,surgeon,male_job,1,4,"[Dr., _, graduated, from, Andhra, Medical, Col..."
49107,psychologist,0,22,_ has a longstanding interest in youth mental ...,She has a longstanding interest in youth menta...,He has a longstanding interest in youth mental...,He has a longstanding interest in youth mental...,psychologist,female_job,0,8,"[_, has, a, longstanding, interest, in, youth,..."
8028,Dietitian,0,7,_ provides one-on-one dietary counseling on we...,She provides one-on-one dietary counseling on ...,He provides one-on-one dietary counseling on w...,He provides one-on-one dietary counseling on w...,dietitian,female_job,0,1,"[_, provides, one-on-one, dietary, counseling,..."
45876,Architect,1,1,_ has over fourteen years of experience develo...,He has over fourteen years of experience devel...,She has over fourteen years of experience deve...,She has over fourteen years of experience deve...,architect,male_job,1,13,"[_, has, over, fourteen, years, of, experience..."

In [16]:
all_names = male_names_list + female_names_list
# all_names

In [17]:
lower_all_attribute_list = [i.lower() for i in all_attribute_list]
all_attribute_list

['countrywoman',
 'sororal',
 'witches',
 'maidservant',
 'mothers',
 'diva',
 'actress',
 'spinster',
 'mama',
 'duchesses',
 'barwoman',
 'countrywomen',
 'dowry',
 'hostesses',
 'airwomen',
 'menopause',
 'clitoris',
 'princess',
 'governesses',
 'abbess',
 'women',
 'widow',
 'ladies',
 'sorceresses',
 'madam',
 'brides',
 'baroness',
 'housewives',
 'godesses',
 'niece',
 'widows',
 'lady',
 'sister',
 'brides',
 'nun',
 'adultresses',
 'obstetrics',
 'bellgirls',
 'her',
 'marchioness',
 'princesses',
 'empresses',
 'mare',
 'chairwoman',
 'convent',
 'priestesses',
 'girlhood',
 'ladies',
 'queen',
 'gals',
 'mommies',
 'maid',
 'female_ejaculation',
 'spokeswoman',
 'seamstress',
 'cowgirls',
 'chick',
 'spinsters',
 'hair_salon',
 'empress',
 'mommy',
 'feminism',
 'gals',
 'enchantress',
 'gal',
 'motherhood',
 'estrogen',
 'camerawomen',
 'godmother',
 'strongwoman',
 'goddess',
 'matriarch',
 'aunt',
 'chairwomen',
 "ma'am",
 'sisterhood',
 'hostess',
 'estradiol',
 'wife',
 'mom',
 'stewardess',
 'females',
 'viagra',
 'spokeswomen',
 'ma',
 'belle',
 'minx',
 'maiden',
 'witch',
 'miss',
 'nieces',
 'mothered',
 'cow',
 'belles',
 'councilwomen',
 'landladies',
 'granddaughter',
 'fiancees',
 'stepmothers',
 'horsewomen',
 'grandmothers',
 'adultress',
 'schoolgirl',
 'hen',
 'granddaughters',
 'bachelorette',
 'camerawoman',
 'moms',
 'her',
 'mistress',
 'lass',
 'policewoman',
 'nun',
 'actresses',
 'saleswomen',
 'girlfriend',
 'councilwoman',
 'lady',
 'stateswoman',
 'maternal',
 'lass',
 'landlady',
 'sistren',
 'ladies',
 'wenches',
 'sorority',
 'bellgirl',
 'duchess',
 'ballerina',
 'chicks',
 'fiancee',
 'fillies',
 'wives',
 'suitress',
 'maternity',
 'she',
 'businesswoman',
 'masseuses',
 'heroine',
 'doe',
 'busgirls',
 'girlfriends',
 'queens',
 'sisters',
 'mistresses',
 'stepmother',
 'brides',
 'daughter',
 'minxes',
 'cowgirl',
 'lady',
 'daughters',
 'mezzo',
 'saleswoman',
 'mistress',
 'hostess',
 'nuns',
 'maids',
 'mrs.',
 'headmistresses',
 'lasses',
 'congresswoman',
 'airwoman',
 'housewife',
 'priestess',
 'barwomen',
 'barnoesses',
 'abbesses',
 'handywoman',
 'toque',
 'sororities',
 'stewardesses',
 'filly',
 'czarina',
 'stepdaughters',
 'herself',
 'girls',
 'lionesses',
 'lady',
 'vagina',
 'hers',
 'masseuse',
 'cows',
 'aunts',
 'wench',
 'toques',
 'wife',
 'lioness',
 'sorceress',
 'effeminate',
 'mother',
 'lesbians',
 'female',
 'waitresses',
 'ovum',
 'skene_gland',
 'stepdaughter',
 'womb',
 'businesswomen',
 'heiress',
 'waitress',
 'headmistress',
 'woman',
 'governess',
 'godess',
 'bride',
 'grandma',
 'bride',
 'gal',
 'lesbian',
 'ladies',
 'girl',
 'grandmother',
 'mare',
 'maternity',
 'hens',
 'uterus',
 'nuns',
 'maidservants',
 "seamstress'",
 'busgirl',
 'heroines',
 'countryman',
 'fraternal',
 'wizards',
 'manservant',
 'fathers',
 'divo',
 'actor',
 'bachelor',
 'papa',
 'dukes',
 'barman',
 'countrymen',
 'brideprice',
 'hosts',
 'airmen',
 'andropause',
 'penis',
 'prince',
 'governors',
 'abbot',
 'men',
 'widower',
 'gentlemen',
 'sorcerers',
 'sir',
 'bridegrooms',
 'baron',
 'househusbands',
 'gods',
 'nephew',
 'widowers',
 'lord',
 'brother',
 'grooms',
 'priest',
 'adultors',
 'andrology',
 'bellboys',
 'his',
 'marquis',
 'princes',
 'emperors',
 'stallion',
 'chairman',
 'monastery',
 'priests',
 'boyhood',
 'fellas',
 'king',
 'dudes',
 'daddies',
 'manservant',
 'semen',
 'spokesman',
 'tailor',
 'cowboys',
 'dude',
 'bachelors',
 'barbershop',
 'emperor',
 'daddy',
 'masculism',
 'guys',
 'enchanter',
 'guy',
 'fatherhood',
 'androgen',
 'cameramen',
 'godfather',
 'strongman',
 'god',
 'patriarch',
 'uncle',
 'chairmen',
 'sir',
 'brotherhood',
 'host',
 'testosterone',
 'husband',
 'dad',
 'steward',
 'males',
 'cialis',
 'spokesmen',
 'pa',
 'beau',
 'stud',
 'bachelor',
 'wizard',
 'sir',
 'nephews',
 'fathered',
 'bull',
 'beaus',
 'councilmen',
 'landlords',
 'grandson',
 'fiances',
 'stepfathers',
 'horsemen',
 'grandfathers',
 'adultor',
 'schoolboy',
 'rooster',
 'grandsons',
 'bachelor',
 'cameraman',
 'dads',
 'him',
 'master',
 'lad',
 'policeman',
 'monk',
 'actors',
 'salesmen',
 'boyfriend',
 'councilman',
 'fella',
 'statesman',
 'paternal',
 'chap',
 'landlord',
 'brethren',
 'lords',
 'blokes',
 'fraternity',
 'bellboy',
 'duke',
 'ballet_dancer',
 'dudes',
 'fiance',
 'colts',
 'husbands',
 'suitor',
 'paternity',
 'he',
 'businessman',
 'masseurs',
 'hero',
 'deer',
 'busboys',
 'boyfriends',
 'kings',
 'brothers',
 'masters',
 'stepfather',
 'grooms',
 'son',
 'studs',
 'cowboy',
 'mentleman',
 'sons',
 'baritone',
 'salesman',
 'paramour',
 'male_host',
 'monks',
 'menservants',
 'mr.',
 'headmasters',
 'lads',
 'congressman',
 'airman',
 'househusband',
 'priest',
 'barmen',
 'barons',
 'abbots',
 'handyman',
 'beard',
 'fraternities',
 'stewards',
 'colt',
 'czar',
 'stepsons',
 'himself',
 'boys',
 'lions',
 'gentleman',
 'penis',
 'his',
 'masseur',
 'bulls',
 'uncles',
 'bloke',
 'beards',
 'hubby',
 'lion',
 'sorcerer',
 'macho',
 'father',
 'gays',
 'male',
 'waiters',
 'sperm',
 'prostate',
 'stepson',
 'prostatic_utricle',
 'businessmen',
 'heir',
 'waiter',
 'headmaster',
 'man',
 'governor',
 'god',
 'bridegroom',
 'grandpa',
 'groom',
 'dude',
 'gay',
 'gents',
 'boy',
 'grandfather',
 'gelding',
 'paternity',
 'roosters',
 'prostatic_utricle',
 'priests',
 'manservants',
 'stailor',
 'busboy',
 'heros',
 '']

In [18]:
def replace_tokens(wordlist):
    lower_wordlist = [i.lower() for i in wordlist]
    for i in range(len(wordlist)):
        if lower_wordlist[i] in all_attribute_list:
            wordlist[i] = "_"
        if wordlist[i] in all_names:
            wordlist[i] = "_"
    return wordlist

In [19]:
df['tokenized_scrubbed'] = df.apply(lambda row: replace_tokens(row['tokenized_scrubbed']), axis=1)
df

,raw_title,gender,old_label,scrubbed,bio,flipped_bio,swapped,prof,job_cat,job_cat_id,label,tokenized_scrubbed
31289,architect,1,1,"_ focuses on cloud security, identity and acce...","He focuses on cloud security, identity and acc...","She focuses on cloud security, identity and ac...","She focuses on cloud security, identity and ac...",architect,male_job,1,13,"[_, focuses, on, cloud, security, ,, identity,..."
61990,software engineer,1,24,"_ is the creator of Statoshi, a fork of Bitcoi...","He is the creator of Statoshi, a fork of Bitco...","She is the creator of Statoshi, a fork of Bitc...","She is the creator of Statoshi, a fork of Bitc...",software_engineer,male_job,1,11,"[_, is, the, creator, of, Statoshi, ,, a, fork..."
29313,comedian,1,4,"_ children's books include ""Pouch Potato, Char...","His children's books include ""Pouch Potato, Ch...","Her children's books include ""Pouch Potato, Sh...","Her children's books include ""Pouch Potato, Ch...",comedian,male_job,1,2,"[_, children, 's, books, include, ``, Pouch, P..."
61302,psychologist,1,22,"_ also has a therapy practice, through which _...","He also has a therapy practice, through which ...","She also has a therapy practice, through which...","She also has a therapy practice, through which...",psychologist,female_job,0,8,"[_, also, has, a, therapy, practice, ,, throug..."
60333,architect,1,1,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,architect,male_job,1,13,"[The, exhibition, explores, concrete, construc..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5098,DJ,1,8,"_’s toured the UK, Europe and Canada as well a...","He’s toured the UK, Europe and Canada as well ...","She’s toured the UK, Europe and Canada as well...","She’s toured the UK, Europe and Canada as well...",dj,male_job,1,7,"[_, ’, s, toured, the, UK, ,, Europe, and, _, ..."
11063,Surgeon,1,25,"Dr. _ graduated from Andhra Medical College, A...",Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,surgeon,male_job,1,4,"[Dr., _, graduated, from, Andhra, Medical, Col..."
49107,psychologist,0,22,_ has a longstanding interest in youth mental ...,She has a longstanding interest in youth menta...,He has a longstanding interest in youth mental...,He has a longstanding interest in youth mental...,psychologist,female_job,0,8,"[_, has, a, longstanding, interest, in, youth,..."
8028,Dietitian,0,7,_ provides one-on-one dietary counseling on we...,She provides one-on-one dietary counseling on ...,He provides one-on-one dietary counseling on w...,He provides one-on-one dietary counseling on w...,dietitian,female_job,0,1,"[_, provides, one-on-one, dietary, counseling,..."
45876,Architect,1,1,_ has over fourteen years of experience develo...,He has over fourteen years of experience devel...,She has over fourteen years of experience deve...,She has over fourteen years of experience deve...,architect,male_job,1,13,"[_, has, over, fourteen, years, of, experience..."

In [20]:
df['scrubbed2'] = df.apply(lambda row: " ".join(row['tokenized_scrubbed']), axis=1)
# joined = " ".joi(list)
df

,raw_title,gender,old_label,scrubbed,bio,flipped_bio,swapped,prof,job_cat,job_cat_id,label,tokenized_scrubbed,scrubbed2
31289,architect,1,1,"_ focuses on cloud security, identity and acce...","He focuses on cloud security, identity and acc...","She focuses on cloud security, identity and ac...","She focuses on cloud security, identity and ac...",architect,male_job,1,13,"[_, focuses, on, cloud, security, ,, identity,...","_ focuses on cloud security , identity and acc..."
61990,software engineer,1,24,"_ is the creator of Statoshi, a fork of Bitcoi...","He is the creator of Statoshi, a fork of Bitco...","She is the creator of Statoshi, a fork of Bitc...","She is the creator of Statoshi, a fork of Bitc...",software_engineer,male_job,1,11,"[_, is, the, creator, of, Statoshi, ,, a, fork...","_ is the creator of Statoshi , a fork of Bitco..."
29313,comedian,1,4,"_ children's books include ""Pouch Potato, Char...","His children's books include ""Pouch Potato, Ch...","Her children's books include ""Pouch Potato, Sh...","Her children's books include ""Pouch Potato, Ch...",comedian,male_job,1,2,"[_, children, 's, books, include, ``, Pouch, P...","_ children 's books include `` Pouch Potato , ..."
61302,psychologist,1,22,"_ also has a therapy practice, through which _...","He also has a therapy practice, through which ...","She also has a therapy practice, through which...","She also has a therapy practice, through which...",psychologist,female_job,0,8,"[_, also, has, a, therapy, practice, ,, throug...","_ also has a therapy practice , through which ..."
60333,architect,1,1,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,The exhibition explores concrete construction ...,architect,male_job,1,13,"[The, exhibition, explores, concrete, construc...",The exhibition explores concrete construction ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5098,DJ,1,8,"_’s toured the UK, Europe and Canada as well a...","He’s toured the UK, Europe and Canada as well ...","She’s toured the UK, Europe and Canada as well...","She’s toured the UK, Europe and Canada as well...",dj,male_job,1,7,"[_, ’, s, toured, the, UK, ,, Europe, and, _, ...","_ ’ s toured the UK , Europe and _ as well as ..."
11063,Surgeon,1,25,"Dr. _ graduated from Andhra Medical College, A...",Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,Dr. Chacko graduated from Andhra Medical Colle...,surgeon,male_job,1,4,"[Dr., _, graduated, from, Andhra, Medical, Col...","Dr. _ graduated from Andhra Medical College , ..."
49107,psychologist,0,22,_ has a longstanding interest in youth mental ...,She has a longstanding interest in youth menta...,He has a longstanding interest in youth mental...,He has a longstanding interest in youth mental...,psychologist,female_job,0,8,"[_, has, a, longstanding, interest, in, youth,...",_ has a longstanding interest in youth mental ...
8028,Dietitian,0,7,_ provides one-on-one dietary counseling on we...,She provides one-on-one dietary counseling on ...,He provides one-on-one dietary counseling on w...,He provides one-on-one dietary counseling on w...,dietitian,female_job,0,1,"[_, provides, one-on-one, dietary, counseling,...",_ provides one-on-one dietary counseling on we...
45876,Architect,1,1,_ has over fourteen years of experience develo...,He has over fourteen years of experience devel...,She has over fourteen years of experience deve...,She has over fourteen years of experience deve...,architect,male_job,1,13,"[_, has, over, fourteen, years, of, experience...",_ has over fourteen years of experience develo...

In [21]:
k_fold_df = np.array_split(df, 10)

########################### tokenize dataset ###########################

In [22]:
# from transformers import BertTokenizer, AdamW, BertConfig, BertForPreTraining

from transformers import AlbertTokenizer
tokenizer = AlbertTokenizer.from_pretrained('albert-large-v2', do_lower_case=True)
seq_len = 100
vocab_length = 30522
def tokenize(data, y, g):
    

    # Load the BERT tokenizer.
    print('Loading BERT tokenizer...')

    # Training Tokenize all of the sentences and map the tokens to thier word IDs.
    input_ids = []
    attention_masks = []

    # For every sentence...
    for k, sent in enumerate(data):
        encoded_dict = tokenizer.encode_plus(
                            str(sent),                      # Sentence to encode.
                            add_special_tokens = True, # Add '[CLS]' and '[SEP]'
                            max_length = seq_len,           # Pad & truncate all sentences.
                            truncation=True,
                            pad_to_max_length = True,
                            return_attention_mask = True,   # Construct attn. masks.
                            return_tensors = 'pt',     # Return pytorch tensors.
                       )
        

        input_ids.append(encoded_dict['input_ids'])
        attention_masks.append(encoded_dict['attention_mask'])
        
        
    # Convert the lists into tensors.
    input_ids = torch.cat(input_ids, dim=0)
    attention_masks = torch.cat(attention_masks, dim=0)
    class_labels = torch.tensor(y)
    gender_labels = torch.tensor(g)
    
    
    


#     print(y)
#     print(y_onehot)

    return input_ids, class_labels, attention_masks, gender_labels

Downloading:   0%|          | 0.00/742k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/685 [00:00<?, ?B/s]

########################### save dataset ###########################

In [23]:
for ind, i in enumerate(k_fold_df):
    sentences = i.bio.values
    gender = i.gender.values
    labels = i.label.values
    train_input_ids, train_class_labels, train_attention_masks, train_gender_labels = tokenize(sentences, labels, gender)
    # test_input_ids, test_class_labels, test_attention_masks, test_gender_labels = tokenize(X_test, y_test, gen_test)
#     val_input_ids, val_class_labels, val_attention_masks, val_gender_labels = tokenize(X_val, y_val, gen_val)

    print('Original: ', sentences[0])
    print('Token IDs:', train_input_ids[0])
    print('Token IDs:', train_class_labels[0])
    
    from torch.utils.data import TensorDataset

    train_dataset = TensorDataset(train_input_ids, train_class_labels, train_attention_masks, train_gender_labels)

    print('{:>5,} training samples'.format(len(train_dataset)))

    name = "bio_classification_train_dataset_" + str(ind)
    torch.save(train_dataset, 'unbalanced_datasets/'+name+'.pt')
    print(name)

Loading BERT tokenizer...

/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  He focuses on cloud security, identity and access management, mobility security, and security for Microsoft platforms and solutions. Jan is based in Belgium.
Token IDs: tensor([    2,    24,  7155,    27,  4005,  1221,    15,  3270,    17,  1381,
         1097,    15, 14806,  1221,    15,    17,  1221,    26,  7099,  6843,
           17,  6776,     9,  2262,    25,   432,    19,  4692,     9,     3,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(13)
2,150 training samples
bio_classification_train_dataset_0
Loading BERT tokenizer...
Original:  Born in England he now resides in Berlin. Educated at Dartington College of Arts he graduated with a BA and MA in contemporary music composition and arts theory and continues his work in his solo projects and as a member of the krautrock band Curious Egg.
Token IDs: tensor([    2,   386,    19,   648,    24,   130, 12631,    19,  2296,     9,
         3977,    35, 25680,   444,   314,    16,  1008,    24,  2158,    29,
           21,  2683,    17,  1216,    19,  2152,   232,  4046,    17,  1008,
         1639,    17,  2622,    33,   170,    19,    33,  2046,  2314,    17,
           28,    21,   322,    16,    14,  5179,  1982,  4651,   323,  7686,
         6387,     9,     3,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(3)
2,150 training samples
bio_classification_train_dataset_1
Loading BERT tokenizer...
Original:  In his works, references to the musical past are often embedded within folk materials of his native country, Argentina. Disks and scores with his music are available on the independent label Contrapunctus, on FJH Publications, Editions Billaudot, and on Ricordi.
Token IDs: tensor([    2,    19,    33,   693,    15,  7231,    20,    14,  1457,   640,
           50,   478, 12138,   363,  3267,  2895,    16,    33,  1275,   475,
           15,  4491,     9,  8582,    18,    17,  7369,    29,    33,   232,
           50,   904,    27,    14,  1124,  1899, 11805, 17359,   267,    15,
           27,   398,   728,   252,  4411,    15,  6179,  1071,  1346, 12527,
           15,    17,    27,  5738,   897,    49,     9,     3,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(3)
2,150 training samples
bio_classification_train_dataset_2
Loading BERT tokenizer...
Original:  She has been with the ITEE eResearch group since 2006 as a Web Developer / Senior Research Assistant working on the HarvANA project as well as annotation tools for 3D models of museum artefacts and protein crystallography structures.
Token IDs: tensor([    2,    39,    63,    74,    29,    14,    32,  2851,    13,    62,
        26619,   214,   179,   592,    28,    21,  2741, 10058,    13,   118,
         1101,   527,  1482,   638,    27,    14,  2431, 18026,   669,    28,
          134,    28,    40,  1270,   857,  4672,    26,   203,    43,  2761,
           16,   774, 27284,    17,  4008,  4282,   255, 10112,  3815,     9,
            3,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(11)
2,150 training samples
bio_classification_train_dataset_3
Loading BERT tokenizer...
Original:  She began blogging in 2012, with her posts evolving from an initial empty nest focus (“NestAche” as Dr. Margaret termed it) to posts describing her work in mental health. Her writing can be found on her own website http://drmargaretrutherford.com, as well as The Huffington Post, Midlife Boulevard, Boomeon, BetterAfter50, WeWantMore and now at The Good Men Project.
Token IDs: tensor([    2,    39,   260,   334, 13919,    19,   563,    15,    29,    36,
         9868, 22363,    37,    40,  2104,  2424,  5618,  1776,    13,     5,
            1,  2696,    38,  9616,     1,    28,   744,     9,  4072, 13776,
           32,     6,    20,  9868,  7153,    36,   170,    19,  3584,   853,
            9,    36,  1174,    92,    44,   216,    27,    36,   258,  2271,
         7775,  6903,  3807,  1615,  1136,    99, 23266,   106,  1426,     9,
          960,    15,    28,   134,    28,    14, 26910,   678,    15,   907,
         4102,  7717,    15,  6403, 11572,    15,   574,  5162,  2290,    15,
           95, 14876,  1995,    17,   130,    35,    14,   254,   304,   669,
            9,     3,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
bio_classification_train_dataset_4
Loading BERT tokenizer...
Original:  She graduated with honors in 1999. Having more than 19 years of diverse experiences, especially in CLINICAL PSYCHOLOGIST, Dr. Mary Elizabeth Hickcox affiliates with no hospital, and cooperates with other doctors and specialists without joining any medical groups. Call Dr. Mary Elizabeth Hickcox on phone number (330) 650-5338 for more information and advice or to book an appointment.
Token IDs: tensor([    2,    39,  2158,    29,  7811,    19,  1247,     9,   452,    91,
          119,   732,   122,    16,  6951,  5513,    15,  1118,    19,  5611,
        13729,    15,   744,     9,  1044,  2076,    13, 15477,   716,   396,
         6772,    18,    29,    90,   980,    15,    17, 15180,    18,    29,
           89,  6995,    17, 19546,   366,  3765,   186,  1088,  1170,     9,
          645,   744,     9,  1044,  2076,    13, 15477,   716,   396,    27,
         1132,   234,    13,     5, 13509,     6,    13, 13798,     8,  4022,
         3665,    26,    91,   676,    17,  4978,    54,    20,   360,    40,
         4905,     9,     3,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
bio_classification_train_dataset_5
Loading BERT tokenizer...
Original:  Having been a therapist for forty years, she has observed how people approach life dilemmas and the diverse voices they use to express their unique experiences. Playwriting as an...
Token IDs: tensor([    2,   452,    74,    21, 18000,    26,  4671,   122,    15,    39,
           63,  3634,   184,   148,  2141,   201, 23314,    18,    17,    14,
         6951,  5333,    59,   275,    20,  2999,    66,  2619,  5513,     9,
          418, 12646,    28,    40,     9,     9,     9,     3,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
bio_classification_train_dataset_6
Loading BERT tokenizer...
Original:  At same time, He is also doing study and research in Software Management at Carnegie Mellon University. Prior to Google, he worked at Cisco Systems, Nortel Networks, Sun Microsystems, AT&T Bell Lab. He has 15+ years experiences in system and business software development, network equipment development, and project and product managements. He also has 8+ years experiences in teaching in Computer Science, Networking and Internet Application Developments.
Token IDs: tensor([    2,    35,   205,    85,    15,    24,    25,    67,   845,   949,
           17,   527,    19,  2306,  1097,    35, 12234, 23771,   155,     9,
         1313,    20,  8144,    15,    24,   577,    35, 28184,  1242,    15,
         2127,  3454,  5540,    15,   939,  2899, 10724,    18,    15,    35,
         1569,    38,  1988,  4343,     9,    24,    63,   357,  2430,   122,
         5513,    19,   329,    17,   508,  2306,   522,    15,   982,  2181,
          522,    15,    17,   669,    17,  2374,  1097,    18,     9,    24,
           67,    63,   469,  2430,   122,  5513,    19,  2540,    19,  1428,
          762,    15, 16230,    17,  2620,  3010, 11884,     9,     3,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(11)
2,150 training samples
bio_classification_train_dataset_7
Loading BERT tokenizer...
Original:  He studies what's called targeted violence. That includes mass shootings. And he has little doubt that what happened here in Las Vegas will eventually inspire copycats.
Token IDs: tensor([    2,    24,  1011,    98,    22,    18,   227,  9536,  3300,     9,
           30,  1103,  1619,  3511,    18,     9,    17,    24,    63,   265,
         3063,    30,    98,  1190,   235,    19,  3695,  6432,   129,   878,
        19146,  4344, 14626,     9,     3,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
bio_classification_train_dataset_8
Loading BERT tokenizer...
Original:  Hamasaki Rio is a lovely Asian model who is well known ... Model: Natsuki Iijima This hot Asian teen has a nice set ... : Mao Mao is a cute Asian teen who hangs around the ... but she is kind of shy and backs out last minute ...
Token IDs: tensor([    2, 21594,  4713,  4017,    25,    21,  8601,  2282,  1061,    72,
           25,   134,   167,    13,     9,     9,     9,  1061,    45,  1775,
        21898,   595, 17316,    48,  1047,  2282,  9503,    63,    21,  2210,
          309,    13,     9,     9,     9,    13,    45, 15107, 15107,    25,
           21, 10901,  2282,  9503,    72,  4546,    18,   140,    14,    13,
            9,     9,     9,    47,    39,    25,   825,    16,  8327,    17,
           97,    18,    70,   236,  2038,    13,     9,     9,     9,     3,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(9)
2,149 training samples
bio_classification_train_dataset_9

In [24]:
for ind, i in enumerate(k_fold_df):
    sentences = i.scrubbed2.values
    gender = i.gender.values
    labels = i.label.values
    train_input_ids, train_class_labels, train_attention_masks, train_gender_labels = tokenize(sentences, labels, gender)
    # test_input_ids, test_class_labels, test_attention_masks, test_gender_labels = tokenize(X_test, y_test, gen_test)
#     val_input_ids, val_class_labels, val_attention_masks, val_gender_labels = tokenize(X_val, y_val, gen_val)

    print('Original: ', sentences[0])
    print('Token IDs:', train_input_ids[0])
    print('Token IDs:', train_class_labels[0])
    
    from torch.utils.data import TensorDataset

    train_dataset = TensorDataset(train_input_ids, train_class_labels, train_attention_masks, train_gender_labels)

    print('{:>5,} training samples'.format(len(train_dataset)))

    name = "scrubbed_classification_train_dataset_" + str(ind)
    torch.save(train_dataset, 'unbalanced_datasets/'+name+'.pt')
    print(name)

Loading BERT tokenizer...
Original:  _ focuses on cloud security , identity and access management , mobility security , and security for Microsoft platforms and solutions . _ is based in Belgium .
Token IDs: tensor([    2,    13,     1,  7155,    27,  4005,  1221,    13,    15,  3270,
           17,  1381,  1097,    13,    15, 14806,  1221,    13,    15,    17,
         1221,    26,  7099,  6843,    17,  6776,    13,     9,    13,     1,
           25,   432,    19,  4692,    13,     9,     3,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(13)
2,150 training samples
scrubbed_classification_train_dataset_0
Loading BERT tokenizer...
Original:  Born in England _ now resides in Berlin . Educated at Dartington College of Arts _ graduated with a BA and _ in contemporary music composition and arts theory and continues _ work in _ solo projects and as a member of the krautrock band Curious Egg .
Token IDs: tensor([    2,   386,    19,   648,    13,     1,   130, 12631,    19,  2296,
           13,     9,  3977,    35, 25680,   444,   314,    16,  1008,    13,
            1,  2158,    29,    21,  2683,    17,    13,     1,    19,  2152,
          232,  4046,    17,  1008,  1639,    17,  2622,    13,     1,   170,
           19,    13,     1,  2046,  2314,    17,    28,    21,   322,    16,
           14,  5179,  1982,  4651,   323,  7686,  6387,    13,     9,     3,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(3)
2,150 training samples
scrubbed_classification_train_dataset_1
Loading BERT tokenizer...
Original:  In _ works , references to the musical past are often embedded within folk materials of _ native country , Argentina . Disks and scores with _ music are available on the independent label Contrapunctus , on FJH Publications , Editions Billaudot , and on Ricordi .
Token IDs: tensor([    2,    19,    13,     1,   693,    13,    15,  7231,    20,    14,
         1457,   640,    50,   478, 12138,   363,  3267,  2895,    16,    13,
            1,  1275,   475,    13,    15,  4491,    13,     9,  8582,    18,
           17,  7369,    29,    13,     1,   232,    50,   904,    27,    14,
         1124,  1899, 11805, 17359,   267,    13,    15,    27,   398,   728,
          252,  4411,    13,    15,  6179,  1071,  1346, 12527,    13,    15,
           17,    27,  5738,   897,    49,    13,     9,     3,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(3)
2,150 training samples
scrubbed_classification_train_dataset_2
Loading BERT tokenizer...
Original:  _ has been with the ITEE eResearch group since 2006 as a _ Developer / Senior Research Assistant working on the HarvANA project as well as annotation tools for 3D models of museum artefacts and protein crystallography structures .
Token IDs: tensor([    2,    13,     1,    63,    74,    29,    14,    32,  2851,    13,
           62, 26619,   214,   179,   592,    28,    21,    13,     1, 10058,
           13,   118,  1101,   527,  1482,   638,    27,    14,  2431, 18026,
          669,    28,   134,    28,    40,  1270,   857,  4672,    26,   203,
           43,  2761,    16,   774, 27284,    17,  4008,  4282,   255, 10112,
         3815,    13,     9,     3,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(11)
2,150 training samples
scrubbed_classification_train_dataset_3
Loading BERT tokenizer...
Original:  _ began blogging in 2012 , with _ posts evolving from an initial empty nest focus ( “ NestAche ” as Dr. _ termed it ) to posts describing _ work in mental health . _ writing can be found on _ own website http : //drmargaretrutherford.com , as well as The Huffington Post , Midlife Boulevard , Boomeon , BetterAfter50 , WeWantMore and now at The Good _ Project .
Token IDs: tensor([    2,    13,     1,   260,   334, 13919,    19,   563,    13,    15,
           29,    13,     1,  9868, 22363,    37,    40,  2104,  2424,  5618,
         1776,    13,     5,    13,     1,  5618,  9616,    13,     1,    28,
          744,     9,    13,     1, 13776,    32,    13,     6,    20,  9868,
         7153,    13,     1,   170,    19,  3584,   853,    13,     9,    13,
            1,  1174,    92,    44,   216,    27,    13,     1,   258,  2271,
         7775,    13,    45, 12894,  3807,  1615,  1136,    99, 23266,   106,
         1426,     9,   960,    13,    15,    28,   134,    28,    14, 26910,
          678,    13,    15,   907,  4102,  7717,    13,    15,  6403, 11572,
           13,    15,   574,  5162,  2290,    13,    15,    95, 14876,     3])
Token IDs: tensor(8)
2,150 training samples
scrubbed_classification_train_dataset_4
Loading BERT tokenizer...
Original:  _ graduated with honors in 1999 . Having more than 19 years of diverse experiences , especially in CLINICAL PSYCHOLOGIST , Dr. _ _ _ affiliates with no hospital , and cooperates with other doctors and specialists without joining any medical groups . Call Dr. _ _ _ on phone number ( 330 ) 650-5338 for more information and advice or to book an appointment .
Token IDs: tensor([    2,    13,     1,  2158,    29,  7811,    19,  1247,    13,     9,
          452,    91,   119,   732,   122,    16,  6951,  5513,    13,    15,
         1118,    19,  5611, 13729,    13,    15,   744,     9,    13,     1,
           13,     1,    13,     1,  6772,    18,    29,    90,   980,    13,
           15,    17, 15180,    18,    29,    89,  6995,    17, 19546,   366,
         3765,   186,  1088,  1170,    13,     9,   645,   744,     9,    13,
            1,    13,     1,    13,     1,    27,  1132,   234,    13,     5,
           13, 13509,    13,     6,    13, 13798,     8,  4022,  3665,    26,
           91,   676,    17,  4978,    54,    20,   360,    40,  4905,    13,
            9,     3,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
scrubbed_classification_train_dataset_5
Loading BERT tokenizer...
Original:  Having been a therapist for forty years , _ has observed how people approach life dilemmas and the diverse voices they use to express their unique experiences . Playwriting as an ...
Token IDs: tensor([    2,   452,    74,    21, 18000,    26,  4671,   122,    13,    15,
           13,     1,    63,  3634,   184,   148,  2141,   201, 23314,    18,
           17,    14,  6951,  5333,    59,   275,    20,  2999,    66,  2619,
         5513,    13,     9,   418, 12646,    28,    40,    13,     9,     9,
            9,     3,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
scrubbed_classification_train_dataset_6
Loading BERT tokenizer...
Original:  At same time , _ is also doing study and research in Software Management at Carnegie Mellon University . Prior to Google , _ worked at Cisco Systems , Nortel Networks , Sun Microsystems , AT & T _ Lab . _ has 15+ years experiences in system and business software development , network equipment development , and project and product managements . _ also has 8+ years experiences in teaching in Computer Science , Networking and Internet Application Developments .
Token IDs: tensor([    2,    35,   205,    85,    13,    15,    13,     1,    25,    67,
          845,   949,    17,   527,    19,  2306,  1097,    35, 12234, 23771,
          155,    13,     9,  1313,    20,  8144,    13,    15,    13,     1,
          577,    35, 28184,  1242,    13,    15,  2127,  3454,  5540,    13,
           15,   939,  2899, 10724,    18,    13,    15,    35,   279,    13,
           38,    13,     1,  4343,    13,     9,    13,     1,    63,   357,
         2430,   122,  5513,    19,   329,    17,   508,  2306,   522,    13,
           15,   982,  2181,   522,    13,    15,    17,   669,    17,  2374,
         1097,    18,    13,     9,    13,     1,    67,    63,   469,  2430,
          122,  5513,    19,  2540,    19,  1428,   762,    13,    15,     3])
Token IDs: tensor(11)
2,150 training samples
scrubbed_classification_train_dataset_7
Loading BERT tokenizer...
Original:  _ studies what 's called targeted violence . That includes mass shootings . And _ has little doubt that what happened here in Las Vegas will eventually inspire copycats .
Token IDs: tensor([    2,    13,     1,  1011,    98,    13,    22,    18,   227,  9536,
         3300,    13,     9,    30,  1103,  1619,  3511,    18,    13,     9,
           17,    13,     1,    63,   265,  3063,    30,    98,  1190,   235,
           19,  3695,  6432,   129,   878, 19146,  4344, 14626,    13,     9,
            3,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
scrubbed_classification_train_dataset_8
Loading BERT tokenizer...
Original:  Hamasaki _ is a lovely Asian model who is well known ... Model : Natsuki Iijima This hot Asian teen has a nice set ... : Mao Mao is a cute Asian teen who hangs around the ... but _ is kind of shy and backs out last minute ...
Token IDs: tensor([    2, 21594,  4713,    13,     1,    25,    21,  8601,  2282,  1061,
           72,    25,   134,   167,    13,     9,     9,     9,  1061,    13,
           45,  1775, 21898,   595, 17316,    48,  1047,  2282,  9503,    63,
           21,  2210,   309,    13,     9,     9,     9,    13,    45, 15107,
        15107,    25,    21, 10901,  2282,  9503,    72,  4546,    18,   140,
           14,    13,     9,     9,     9,    47,    13,     1,    25,   825,
           16,  8327,    17,    97,    18,    70,   236,  2038,    13,     9,
            9,     9,     3,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(9)
2,149 training samples
scrubbed_classification_train_dataset_9

In [25]:
for ind, i in enumerate(k_fold_df):
    sentences = i.flipped_bio.values
    gender = i.gender.values
    labels = i.label.values
    train_input_ids, train_class_labels, train_attention_masks, train_gender_labels = tokenize(sentences, labels, gender)
    # test_input_ids, test_class_labels, test_attention_masks, test_gender_labels = tokenize(X_test, y_test, gen_test)
#     val_input_ids, val_class_labels, val_attention_masks, val_gender_labels = tokenize(X_val, y_val, gen_val)

    print('Original: ', sentences[0])
    print('Token IDs:', train_input_ids[0])
    print('Token IDs:', train_class_labels[0])
    
    from torch.utils.data import TensorDataset

    train_dataset = TensorDataset(train_input_ids, train_class_labels, train_attention_masks, train_gender_labels)

    print('{:>5,} training samples'.format(len(train_dataset)))

    name = "flipped_classification_train_dataset_" + str(ind)
    torch.save(train_dataset, 'unbalanced_datasets/'+name+'.pt')
    print(name)

Loading BERT tokenizer...
Original:  She focuses on cloud security, identity and access management, mobility security, and security for Microsoft platforms and solutions. Jan is based in Belgium.
Token IDs: tensor([    2,    39,  7155,    27,  4005,  1221,    15,  3270,    17,  1381,
         1097,    15, 14806,  1221,    15,    17,  1221,    26,  7099,  6843,
           17,  6776,     9,  2262,    25,   432,    19,  4692,     9,     3,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(13)
2,150 training samples
flipped_classification_train_dataset_0
Loading BERT tokenizer...
Original:  Born in England she now resides in Berlin. Educated at Dartington College of Arts she graduated with a BA and MA in contemporary music composition and arts theory and continues her work in her solo projects and as a member of the krautrock band Curious Egg.
Token IDs: tensor([    2,   386,    19,   648,    39,   130, 12631,    19,  2296,     9,
         3977,    35, 25680,   444,   314,    16,  1008,    39,  2158,    29,
           21,  2683,    17,  1216,    19,  2152,   232,  4046,    17,  1008,
         1639,    17,  2622,    36,   170,    19,    36,  2046,  2314,    17,
           28,    21,   322,    16,    14,  5179,  1982,  4651,   323,  7686,
         6387,     9,     3,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(3)
2,150 training samples
flipped_classification_train_dataset_1
Loading BERT tokenizer...
Original:  In her works, references to the musical past are often embedded within folk materials of her native country, Argentina. Disks and scores with her music are available on the independent label Contrapunctus, on FJH Publications, Editions Billaudot, and on Ricordi.
Token IDs: tensor([    2,    19,    36,   693,    15,  7231,    20,    14,  1457,   640,
           50,   478, 12138,   363,  3267,  2895,    16,    36,  1275,   475,
           15,  4491,     9,  8582,    18,    17,  7369,    29,    36,   232,
           50,   904,    27,    14,  1124,  1899, 11805, 17359,   267,    15,
           27,   398,   728,   252,  4411,    15,  6179,  1071,  1346, 12527,
           15,    17,    27,  5738,   897,    49,     9,     3,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(3)
2,150 training samples
flipped_classification_train_dataset_2
Loading BERT tokenizer...
Original:  He has been with the ITEE eResearch group since 2006 as a Web Developer / Senior Research Assistant working on the HarvANA project as well as annotation tools for 3D models of museum artefacts and protein crystallography structures.
Token IDs: tensor([    2,    24,    63,    74,    29,    14,    32,  2851,    13,    62,
        26619,   214,   179,   592,    28,    21,  2741, 10058,    13,   118,
         1101,   527,  1482,   638,    27,    14,  2431, 18026,   669,    28,
          134,    28,    40,  1270,   857,  4672,    26,   203,    43,  2761,
           16,   774, 27284,    17,  4008,  4282,   255, 10112,  3815,     9,
            3,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(11)
2,150 training samples
flipped_classification_train_dataset_3
Loading BERT tokenizer...
Original:  He began blogging in 2012, with his posts evolving from an initial empty nest focus (“NestAche” as Dr. Joseph termed it) to posts describing his work in mental health. His writing can be found on his own website http://drmargaretrutherford.com, as well as The Huffington Post, Midlife Boulevard, Boomeon, BetterAfter50, WeWantMore and now at The Good Women Project.
Token IDs: tensor([    2,    24,   260,   334, 13919,    19,   563,    15,    29,    33,
         9868, 22363,    37,    40,  2104,  2424,  5618,  1776,    13,     5,
            1,  2696,    38,  9616,     1,    28,   744,     9,  1540, 13776,
           32,     6,    20,  9868,  7153,    33,   170,    19,  3584,   853,
            9,    33,  1174,    92,    44,   216,    27,    33,   258,  2271,
         7775,  6903,  3807,  1615,  1136,    99, 23266,   106,  1426,     9,
          960,    15,    28,   134,    28,    14, 26910,   678,    15,   907,
         4102,  7717,    15,  6403, 11572,    15,   574,  5162,  2290,    15,
           95, 14876,  1995,    17,   130,    35,    14,   254,   364,   669,
            9,     3,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
flipped_classification_train_dataset_4
Loading BERT tokenizer...
Original:  He graduated with honors in 1999. Having more than 19 years of diverse experiences, especially in CLINICAL PSYCHOLOGIST, Dr. John William Hickcox affiliates with no hospital, and cooperates with other doctors and specialists without joining any medical groups. Call Dr. John William Hickcox on phone number (330) 650-5338 for more information and advice or to book an appointment.
Token IDs: tensor([    2,    24,  2158,    29,  7811,    19,  1247,     9,   452,    91,
          119,   732,   122,    16,  6951,  5513,    15,  1118,    19,  5611,
        13729,    15,   744,     9,   239,   605,    13, 15477,   716,   396,
         6772,    18,    29,    90,   980,    15,    17, 15180,    18,    29,
           89,  6995,    17, 19546,   366,  3765,   186,  1088,  1170,     9,
          645,   744,     9,   239,   605,    13, 15477,   716,   396,    27,
         1132,   234,    13,     5, 13509,     6,    13, 13798,     8,  4022,
         3665,    26,    91,   676,    17,  4978,    54,    20,   360,    40,
         4905,     9,     3,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
flipped_classification_train_dataset_5
Loading BERT tokenizer...
Original:  Having been a therapist for forty years, he has observed how people approach life dilemmas and the diverse voices they use to express their unique experiences. Playwriting as an...
Token IDs: tensor([    2,   452,    74,    21, 18000,    26,  4671,   122,    15,    24,
           63,  3634,   184,   148,  2141,   201, 23314,    18,    17,    14,
         6951,  5333,    59,   275,    20,  2999,    66,  2619,  5513,     9,
          418, 12646,    28,    40,     9,     9,     9,     3,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
flipped_classification_train_dataset_6
Loading BERT tokenizer...
Original:  At same time, She is also doing study and research in Software Management at Carnegie Mellon University. Prior to Google, she worked at Cisco Systems, Nortel Networks, Sun Microsystems, AT&T Bell Lab. She has 15+ years experiences in system and business software development, network equipment development, and project and product managements. She also has 8+ years experiences in teaching in Computer Science, Networking and Internet Application Developments.
Token IDs: tensor([    2,    35,   205,    85,    15,    39,    25,    67,   845,   949,
           17,   527,    19,  2306,  1097,    35, 12234, 23771,   155,     9,
         1313,    20,  8144,    15,    39,   577,    35, 28184,  1242,    15,
         2127,  3454,  5540,    15,   939,  2899, 10724,    18,    15,    35,
         1569,    38,  1988,  4343,     9,    39,    63,   357,  2430,   122,
         5513,    19,   329,    17,   508,  2306,   522,    15,   982,  2181,
          522,    15,    17,   669,    17,  2374,  1097,    18,     9,    39,
           67,    63,   469,  2430,   122,  5513,    19,  2540,    19,  1428,
          762,    15, 16230,    17,  2620,  3010, 11884,     9,     3,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(11)
2,150 training samples
flipped_classification_train_dataset_7
Loading BERT tokenizer...
Original:  She studies what's called targeted violence. That includes mass shootings. And she has little doubt that what happened here in Las Vegas will eventually inspire copycats.
Token IDs: tensor([    2,    39,  1011,    98,    22,    18,   227,  9536,  3300,     9,
           30,  1103,  1619,  3511,    18,     9,    17,    39,    63,   265,
         3063,    30,    98,  1190,   235,    19,  3695,  6432,   129,   878,
        19146,  4344, 14626,     9,     3,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(8)
2,150 training samples
flipped_classification_train_dataset_8
Loading BERT tokenizer...
Original:  Hamasaki Rio is a lovely Asian model who is well known ... Model: Natsuki Iijima This hot Asian teen has a nice set ... : Mao Mao is a cute Asian teen who hangs around the ... but he is kind of shy and backs out last minute ...
Token IDs: tensor([    2, 21594,  4713,  4017,    25,    21,  8601,  2282,  1061,    72,
           25,   134,   167,    13,     9,     9,     9,  1061,    45,  1775,
        21898,   595, 17316,    48,  1047,  2282,  9503,    63,    21,  2210,
          309,    13,     9,     9,     9,    13,    45, 15107, 15107,    25,
           21, 10901,  2282,  9503,    72,  4546,    18,   140,    14,    13,
            9,     9,     9,    47,    24,    25,   825,    16,  8327,    17,
           97,    18,    70,   236,  2038,    13,     9,     9,     9,     3,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(9)
2,149 training samples
flipped_classification_train_dataset_9

In [26]:
for ind, i in enumerate(k_fold_df):
    from sklearn.utils import shuffle
    df_1 =  i[["gender", "label", "bio"]]
    df_2 =  i[["gender", "label", "flipped_bio"]]
    df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
    dff = pd.concat([df_1, df_2])
    dff = shuffle(dff, random_state=42)
    sentences = dff.bio.values
    gender = dff.gender.values
    labels = dff.label.values
    train_input_ids, train_class_labels, train_attention_masks, train_gender_labels = tokenize(sentences, labels, gender)
    # test_input_ids, test_class_labels, test_attention_masks, test_gender_labels = tokenize(X_test, y_test, gen_test)
#     val_input_ids, val_class_labels, val_attention_masks, val_gender_labels = tokenize(X_val, y_val, gen_val)

    print('Original: ', sentences[0])
    print('Token IDs:', train_input_ids[0])
    print('Token IDs:', train_class_labels[0])
    
    from torch.utils.data import TensorDataset

    train_dataset = TensorDataset(train_input_ids, train_class_labels, train_attention_masks, train_gender_labels)

    print('{:>5,} training samples'.format(len(train_dataset)))

    name = "bio_and_flipped_classification_train_dataset_" + str(ind)
    torch.save(train_dataset, 'unbalanced_datasets/'+name+'.pt')
    print(name)

Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  She completed an AS at Mercer County Community College, a BA in Psychology at The College of New Jersey, and an MA in Applied Clinical Psychology at William Paterson University. She is currently pursing her BSN at Walden University.
Token IDs: tensor([    2,    39,  1066,    40,    28,    35, 14035,   271,   514,   314,
           15,    21,  2683,    19,  6182,    35,    14,   314,    16,    78,
         2134,    15,    17,    40,  1216,    19,  2435,  5611,  6182,    35,
          605, 22228,   155,     9,    39,    25,   871,  6771,    18,    68,
           36,   334,    18,   103,    35, 25043,   155,     9,     3,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(5)
4,300 training samples
bio_and_flipped_classification_train_dataset_0
Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  He studied architecture in Thessaloniki, Greece and he holds an MSc from Columbia University and a PhD from TU Delft. His thesis investigated the recent history of planning in Athens and the link between conflict, urban management and architectural form. His research interests explore architecture in relation to the politics of labour, law and social reform. Prior to the RCA, he taught at the Berlage Institute/Rotterdam and since 2012 at the MArch Urban Design at the Bartlett.
Token IDs: tensor([    2,    24,  1449,  2607,    19, 25201,    15,  4309,    17,    24,
         2763,    40,  4235,   150,    37,  2368,   155,    17,    21,  7739,
           37,  2289,  1506,  3072,     9,    33, 10452, 11790,    14,  1764,
          447,    16,  2334,    19,  7300,    17,    14,  3508,   128,  2930,
           15,  1980,  1097,    17,  5350,   505,     9,    33,   527,  4408,
         8594,  2607,    19,  5827,    20,    14,  2634,    16,  2668,    15,
          451,    17,   668,  3202,     9,  1313,    20,    14, 15445,    15,
           24,  2359,    35,    14,  5914, 24436,   934,   118, 19879,   106,
         9578,    17,   179,   563,    35,    14,   285,  1980,   704,    35,
           14, 23097,     9,     3,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(13)
4,300 training samples
bio_and_flipped_classification_train_dataset_1
Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  Hanna was previously a research assistant at Middleberg Nutrition since 2013. In addition. Hanna has provided nutrition education lessons and performed healthy cooking demonstrations to teens and families in New York City as part of Food Bank for NYC, empowering them to enjoy food while making smarter choices.
Token IDs: tensor([    2, 10413,    23,  1343,    21,   527,  1482,    35,   772,  1731,
        16124,   179,   616,     9,    19,   848,     9, 10413,    63,  1173,
        16124,   565,  7870,    17,   986,  7714,  8233, 15705,    20, 15823,
           17,  1250,    19,    78,   305,   136,    28,   141,    16,   950,
          965,    26, 17615,    15, 23985,    68,   105,    20,  4696,   950,
          133,   544,  3978,   106, 10978,     9,     3,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(1)
4,300 training samples
bio_and_flipped_classification_train_dataset_2
Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  He's taken on projects ranging from mediocre (the Austin Powers series) to terrible (The Cat In The Hat, and apparently The Love Guru) over the last several years.
Token IDs: tensor([    2,    24,    22,    18,   658,    27,  2314,  7657,    37,    55,
         6921,  6037,    13,     5,   124,  4665,  2737,   231,     6,    20,
         5803,    13,     5,   124,  2008,    19,    14,  2970,    15,    17,
         3083,    14,   339, 10334,     6,    84,    14,   236,   238,   122,
            9,     3,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(2)
4,300 training samples
bio_and_flipped_classification_train_dataset_3
Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  She is also a writer and publishes the award-winning Blooming Rock blog which focuses on urbanism, sustainability and architecture. Taz writes for other publications as well, including Modern Phoenix, the Firefly Living blog, Arizona Community Contractor magazine, Java Magazine and the Atlantic Cities. She serves on Phoenix's Historic Preservation Commission, is co-chair of the Phoenix Post-War Architecture Task Force, co-chair of the American Institute of Architect's Advocacy Committee and also serves on the Phoenix General Plan Update Task Force. Along with being involved in a variety of community-building projects, she partners with Women Design Arizona to curate and organize the Sustainable Communities Lecture Series that brings together experts and the community to talk about how to make Phoenix a more sustainable city.
Token IDs: tensor([    2,    39,    25,    67,    21,  1462,    17, 13829,    14,   450,
            8,  6088,  8064,    68,   629,  8146,    56,  7155,    27,  1980,
          756,    15, 17491,    17,  2607,     9, 28624,  6215,    26,    89,
         4411,    28,   134,    15,   215,   773,  6014,    15,    14,   535,
         9700,   634,  8146,    15,  4045,   514, 15136,  1039,    15,  8247,
         1039,    17,    14,  3040,  1920,     9,    39,  2589,    27,  6014,
           22,    18,  1310,  8121,  1312,    15,    25,   326,     8, 14045,
           16,    14,  6014,   678,     8,  1885,  2607,  3005,   558,    15,
          326,     8, 14045,    16,    14,   189,   934,    16,  3338,    22,
           18, 13812,   940,    17,    67,  2589,    27,    14,  6014,     3])
Token IDs: tensor(13)
4,300 training samples
bio_and_flipped_classification_train_dataset_4
Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  He completed a residency at St Lukes Roosevelt Hospital. He currently practices at Bay Area Cosmetic Surgical Center and is affiliated with Fawcett Memorial Hospital, Tampa Community Hospital and Florida Hospital Tampa. Dr. Hirschfeld accepts multiple insurance plans including Aetna, Medicare and Humana. Dr. Hirschfeld also practices at Riverchase Dermatology in Sun City Center, FL. In addition to English, Dr. Hirschfeld's practice supports this language: Spanish.
Token IDs: tensor([    2,    24,  1066,    21, 16298,    35,   354,  3881,    18,  8440,
          980,     9,    24,   871,  5242,    35,   899,   217, 18872, 12569,
          459,    17,    25,  6751,    29,  1399, 12354,  3317,  2148,   980,
           15, 10385,   514,   980,    17,  1750,   980, 10385,     9,   744,
            9, 20680,  5450, 16548,  1886,  4225,  1753,   215,    21,  1198,
          325,    15, 28736,    17,   585,    58,     9,   744,     9, 20680,
         5450,    67,  5242,    35,   341,  1651,   870,  2223,   540, 17810,
           19,   939,   136,   459,    15,  8631,     9,    19,   848,    20,
          486,    15,   744,     9, 20680,  5450,    22,    18,  1345,  6747,
           48,   816,    45,  1273,     9,     3,     0,     0,     0,     0])
Token IDs: tensor(4)
4,300 training samples
bio_and_flipped_classification_train_dataset_5
Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  His music has received numerous international performances and broadcasts; including BBC Radio 3, SEAMUS (Miami & Iowa), Sonorities (Belfast), EMMF (Kansas & Chicago), Huddersfield Contemporary Music Festival, Expo (Manchester and Scarborough), ACMC (Wellington and Brisbane), Futura (France), Weimar, Sonus and TES (Canada), NYCEMF (New York in 2011/13/16/17) and at ICMC conferences (NYC, Barcelona, New Orleans, Ljubljana, Belfast); and he has written for dance, theatre and education. In the 1993 ALEA III competition Ironwork for piano and tape was a prizewinner; Break was a finalist of 2004 Musica Nova, and Shelter received an honourable mention at Bourge, IMEB, 2006. In 2010, Can won the medal of the Senato della Repubblica Italiana Music Contest “Città di Udine”.
Token IDs: tensor([    2,    33,   232,    63,   420,  1548,   294,  3200,    17,  9461,
           73,   215,  2313,   603,   203,    15, 27614,    13,     5,  1435,
         5448,   279,  4985,     6,    15,   433,   248,  3808,    13,     5,
         3512, 13088,     6,    15, 22909,   410,    13,     5,  2825,    18,
          472,   279,  1360,     6,    15, 23050,  2152,   232,   874,    15,
        13443,    13,     5,   177, 18129,    17, 21945,     6,    15,    21,
          150,  4829,    13,     5,   854,  4926,    17,  7273,     6,    15,
         2916, 18274,    13,     5, 10696,     6,    15, 24789,    15,   433,
          267,    17,    13,  3231,    13,     5, 18006,     6,    15, 17615,
         1503,   410,    13,     5,  2681,   305,    19,   542, 11698,     3])
Token IDs: tensor(3)
4,300 training samples
bio_and_flipped_classification_train_dataset_6
Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  His bad luck evaporates when meeting talented singing Chipmunks Alvin, Simon and Theodore. Soon they became a true musical sensation. Sweet animals do not fail to occur wild side of nature, so Dave is forced to use all their ingenuity to smooth out the problems and return his family before it's too late.
Token IDs: tensor([    2,    33,   896,  5419, 25098,    18,    76,  1235, 11847,  3385,
         7525,  5619,  4020, 19768,    15,  2214,    17, 10358,     9,   651,
           59,   178,    21,  1151,  1457,  7126,     9,  2092,  2522,   107,
           52,  7476,    20,  3744,  1808,   270,    16,  1444,    15,    86,
         3498,    25,  1292,    20,   275,    65,    66,    13, 10180,   291,
          856,    20,  3905,    70,    14,  1716,    17,   788,    33,   190,
          115,    32,    22,    18,   266,   456,     9,     3,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(3)
4,300 training samples
bio_and_flipped_classification_train_dataset_7
Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  She received her Bachelor of Science Degree in Nursing from Murray State University and her Masters of Science Degree in Nursing from the University of Kentucky. She brings with her over twenty-five years of experience in Family Medicine. In her spare time, Ms. Hunter enjoys spending time with her husband and two daughters.
Token IDs: tensor([    2,    39,   420,    36,  3427,    16,   762,  1168,    19,  8181,
           37,  5169,   146,   155,    17,    36,  5001,    16,   762,  1168,
           19,  8181,    37,    14,   155,    16,  4425,     9,    39,  7620,
           29,    36,    84,  1309,     8,  4709,   122,    16,  1496,    19,
          190,  2333,     9,    19,    36,  8001,    85,    15,  4235,     9,
         2944, 18431,  4837,    85,    29,    36,  1253,    17,    81,  4909,
            9,     3,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(5)
4,300 training samples
bio_and_flipped_classification_train_dataset_8
Loading BERT tokenizer...

/tmp/ipykernel_42992/1204574785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={'flipped_bio':'bio'}, inplace=True)
/opt/conda/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:2301: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

Original:  He's also tnd member of the core Activiti development team. He's also the coauthor of Manning's "Open Source ESBs in Action." he coauthor of Manning's "Open Source ESBs in Action." See less
Token IDs: tensor([    2,    24,    22,    18,    67,    13,    38,   706,   322,    16,
           14,  2884,    13, 19516,  8793,   522,   173,     9,    24,    22,
           18,    67,    14,   326, 10007,    16, 12481,    22,    18,    13,
            7, 10157,  1267,    13,   160,  4562,    19,  1028,     9,     7,
           24,   326, 10007,    16, 12481,    22,    18,    13,     7, 10157,
         1267,    13,   160,  4562,    19,  1028,     9,     7,   196,   787,
            3,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])
Token IDs: tensor(11)
4,298 training samples
bio_and_flipped_classification_train_dataset_9